In [23]:
import pandas as pd
import numpy
import matplotlib

import seaborn
import  plotly
import  scipy
import  statsmodels

#returns all the rows and columns for the dataframe

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Force pandas to display full numbers instead of scientific notation
# pd.options.display.float_format = '{:.0f}'.format

# Library to suppress warnings
import warnings
warnings.filterwarnings('ignore')

# Dataset Description:
The Public School Characteristics 2022-23 dataset is provided by the National Center for Education Statistics. This dataset provides information on schools across the U.S and icnludes data on school identifiers, location details, enrollment information, grade leves, Title 1 funding status, and school types such as charter or magnent schools. This dataset also includes information surrounding student demopgraphics, and classifes schools based on their geographic location such as urban, suburban, town, or rual. 

* Add in link to dataset and glossary

# Research Topic:


Education funding and resource allocation may contribute to disparities in student experiences across different school enviorments. This research explores how factors such as school funding, poverty levels, and racial demographics influence student-to-teacher ratios and access to educational resources in urban, suburban, and rural schools.

# Research Problem

Despite efforts to address educational inequities, disparities in teacher allocation and resource distribution remain a common trend, particularly in schools that serve predominantly Black and Hispanic students. Schools with higher poverty levels, measured by free and reduced-price lunch eligibility, may still experience larger class sizes and fewer resources compared to wealthier schools. In addition, geographic location—whether a school is in an urban, suburban, or rural area—may further contribute to these disparities. This study hypothesizes that schools with higher Black and Hispanic enrollment and greater poverty rates will have higher student-to-teacher ratios than predominantly White schools, with these disparities being most pronounced in urban areas.

# Reading My Data:

In [24]:
# Checking to make sure my file is in the right place
import os

folder_path = "/Users/remi/Documents/Masters Fall 2024/Public School Charachtertics"

# List of all files in my folder
print(os.listdir(folder_path))

['.DS_Store', 'Public School Test Scores & Demographics.csv', 'Public_School_Characteristics_2022-23.csv', 'Working files ', 'Public_School_Characteristics_2020-21.csv', '7_CCD_Glossary.pages', 'Public School charchtertics KEY.pdf', 'Public_School_Characteristics_2017-18.csv', '~$Public School Test Scores & Demographics.xlsx', 'Public School Test Scores & Demographics.xlsx']

In [25]:
file_path = "/Users/remi/Documents/Masters Fall 2024/Public School Charachtertics/Public_School_Characteristics_2022-23.csv"

df = pd.read_csv(file_path)  # Load CSV

# Viewing The Data

##The Variables:

X, Y – Likely geographic coordinates (longitude, latitude).
OBJECTID – Unique identifier for each record.
NCESSCH – National Center for Education Statistics (NCES) School ID.
SURVYEAR – Survey year (2022-23).
STABR – State abbreviation.
LEAID – Local Education Agency (LEA) ID.
ST_LEAID – State-specific LEA ID.
LEA_NAME – Name of the Local Education Agency (school district).
SCH_NAME – Name of the school.
LSTREET1, LSTREET2 – School address (street lines 1 and 2).
**LCITY – School city.
**LSTATE – School state.
LZIP, LZIP4 – School ZIP code (5-digit and extended 4-digit).
PHONE – School contact number.
**CHARTER_TEXT – Indicates whether the school is a charter school.
VIRTUAL – Indicates if the school operates as a virtual school.
GSLO, GSHI – Lowest and highest grade levels offered at the school.
SCHOOL_LEVEL – Classification of the school (elementary, middle, high).
STATUS – Operational status of the school (e.g., open, closed).
SCHOOL_TYPE_TEXT – School type (e.g., public, magnet, alternative).
SY_STATUS_TEXT – School year status.
ULOCALE – Urban locale classification (e.g., rural, suburban, urban).
NMCNTY – County name.
TOTFRL – Total students eligible for free or reduced lunch.
FRELCH – Number of students receiving free lunch.
REDLCH – Number of students receiving reduced-price lunch.
DIRECTCERT – Number of students directly certified for free meals.
PK, KG, G01-G12, G13, UG, AE – Enrollment counts by grade level.
TOTMENROL – Total male enrollment.
TOTFENROL – Total female enrollment.
TOTAL – Total school enrollment.
MEMBER – Membership count (another enrollment metric).
FTE – Full-time equivalent staff.
STUTERATIO – Student-teacher ratio.
AMALM, AMALF, AM – American Indian/Alaska Native male, female, and total counts.
ASALM, ASALF, AS – Asian male, female, and total counts.
BLALM, BLALF, BL – Black or African American male, female, and total counts.
HPALM, HPALF, HP – Native Hawaiian/Pacific Islander male, female, and total counts.
HIALM, HIALF, HI – Hispanic or Latino male, female, and total counts.
TRALM, TRALF, TR – Two or more races male, female, and total counts.
WHALM, WHALF, WH – White male, female, and total counts.
LATCOD, LONCOD – Latitude and longitude coordinates of the school.

In [26]:
df.head()

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTMENROL,TOTFENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
0,-86.206200,34.2602,1,10000500870,2022-2023,AL,100005,AL-101,Albertville City,Albertville Middle School,600 E Alabama Ave,NaN,Albertville,AL,35950,,(256)878-2341,No,Not Virtual,07,08,Middle,1,Regular School,Currently operational,32-Town: Distant,Marshall County,697,654,43,587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.0,450.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,459.0,431.0,890.0,890.0,45.000000,19.78,4.0,1.0,5.0,4.0,2.0,6.0,15.0,14.0,29.0,0.0,1.0,1.0,251.0,251.0,502.0,17.0,15.0,32.0,168.0,147.0,315.0,34.2602,-86.206200
1,-86.204900,34.2622,2,10000500871,2022-2023,AL,100005,AL-101,Albertville City,Albertville High School,402 E McCord Ave,NaN,Albertville,AL,35950,2322,(256)894-5000,No,Not Virtual,09,12,High,1,Regular School,Currently operational,32-Town: Distant,Marshall County,1254,1178,76,1059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,493.0,442.0,390.0,387.0,NaN,NaN,NaN,868.0,844.0,1712.0,1712.0,85.199997,20.09,0.0,2.0,2.0,4.0,5.0,9.0,23.0,34.0,57.0,0.0,0.0,0.0,490.0,468.0,958.0,26.0,19.0,45.0,325.0,316.0,641.0,34.2622,-86.204900
2,-86.220100,34.2733,3,10000500879,2022-2023,AL,100005,AL-101,Albertville City,Albertville Intermediate School,901 W McKinney Ave,NaN,Albertville,AL,35950,1300,(256)878-7698,No,Not Virtual,05,06,Middle,1,Regular School,Currently operational,32-Town: Distant,Marshall County,718,665,53,570,NaN,NaN,NaN,NaN,NaN,NaN,412.0,462.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,451.0,423.0,874.0,874.0,43.000000,20.33,1.0,4.0,5.0,4.0,0.0,4.0,22.0,28.0,50.0,0.0,0.0,0.0,263.0,241.0,504.0,7.0,6.0,13.0,154.0,144.0,298.0,34.2733,-86.220100
3,-86.221806,34.2527,4,10000500889,2022-2023,AL,100005,AL-101,Albertville City,Albertville Elementary School,145 West End Drive,NaN,Albertville,AL,35950,,(256)894-4822,No,Not Virtual,03,04,Elementary,1,Regular School,Currently operational,32-Town: Distant,Marshall County,723,680,43,583,NaN,NaN,NaN,NaN,430.0,444.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,463.0,411.0,874.0,874.0,43.000000,20.33,0.0,4.0,4.0,1.0,3.0,4.0,22.0,16.0,38.0,0.0,0.0,0.0,261.0,236.0,497.0,11.0,16.0,27.0,168.0,136.0,304.0,34.2527,-86.221806
4,-86.193300,34.2898,5,10000501616,2022-2023,AL,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,257 Country Club Rd,NaN,Albertville,AL,35951,3927,(256)878-7922,No,Not Virtual,PK,KG,Elementary,1,Regular School,Currently operational,32-Town: Distant,Marshall County,392,367,25,240,133.0,473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,304.0,302.0,606.0,606.0,26.000000,23.31,1.0,3.0,4.0,2.0,0.0,2.0,26.0,23.0,49.0,0.0,0.0,0.0,167.0,152.0,319.0,4.0,4.0,8.0,104.0,120.0,224.0,34.2898,-86.193300

In [27]:
df.tail()

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,DIRECTCERT,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTMENROL,TOTFENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
101385,-64.917602,18.341950,101386,780003000024,2022-2023,VI,7800030,VI-001,Saint Thomas - Saint John School District,LOCKHART ELEMENTARY SCHOOL,41 ESTATE THOMAS,NaN,Saint Thomas,VI,802,,(340)775-0820,N,Not Virtual,KG,03,Elementary,1,Regular School,Currently operational,33-Town: Remote,St. Thomas Island,295,295,0,-1,NaN,77.0,75.0,69.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171.0,127.0,298.0,298.0,18.0,16.56,0.0,0.0,0.0,4.0,3.0,7.0,132.0,92.0,224.0,0.0,0.0,0.0,33.0,30.0,63.0,1.0,2.0,3.0,1.0,0.0,1.0,18.341950,-64.917602
101386,-64.952483,18.338742,101387,780003000026,2022-2023,VI,7800030,VI-001,Saint Thomas - Saint John School District,ULLA F MULLER ELEMENTARY SCHOOL,7B ESTATE CONTANT,NaN,Saint Thomas,VI,802,,(340)774-0059,N,Not Virtual,KG,06,Elementary,1,Regular School,Currently operational,33-Town: Remote,St. Thomas Island,417,417,0,-1,NaN,52.0,53.0,51.0,47.0,70.0,79.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,200.0,220.0,420.0,420.0,28.0,15.00,0.0,2.0,2.0,2.0,4.0,6.0,167.0,182.0,349.0,0.0,0.0,0.0,27.0,27.0,54.0,2.0,0.0,2.0,2.0,5.0,7.0,18.338742,-64.952483
101387,-64.899024,18.354782,101388,780003000027,2022-2023,VI,7800030,VI-001,Saint Thomas - Saint John School District,YVONNE BOWSKY ELEMENTARY SCHOOL,15B and 16 ESTATE MANDAHL,NaN,Saint Thomas,VI,802,,(340)775-3220,N,Not Virtual,PK,05,Elementary,1,Regular School,Currently operational,33-Town: Remote,St. Thomas Island,425,425,0,-1,22.0,62.0,67.0,66.0,75.0,68.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,252.0,176.0,428.0,428.0,34.0,12.59,1.0,1.0,2.0,5.0,4.0,9.0,201.0,144.0,345.0,0.0,0.0,0.0,37.0,22.0,59.0,0.0,1.0,1.0,8.0,4.0,12.0,18.354782,-64.899024
101388,-64.945940,18.336658,101389,780003000033,2022-2023,VI,7800030,VI-001,Saint Thomas - Saint John School District,CANCRYN JUNIOR HIGH SCHOOL,1 CROWN BAY,NaN,Saint Thomas,VI,804,,(340)774-4540,N,Not Virtual,04,08,Middle,1,Regular School,Currently operational,33-Town: Remote,St. Thomas Island,683,683,0,-1,NaN,NaN,NaN,NaN,NaN,77.0,119.0,96.0,189.0,205.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361.0,325.0,686.0,686.0,62.0,11.06,0.0,0.0,0.0,2.0,2.0,4.0,279.0,250.0,529.0,0.0,0.0,0.0,74.0,62.0,136.0,0.0,1.0,1.0,6.0,10.0,16.0,18.336658,-64.945940
101389,-64.890311,18.318230,101390,780003000034,2022-2023,VI,7800030,VI-001,Saint Thomas - Saint John School District,BERTHA BOSCHULTE JUNIOR HIGH,9 1 and 12A BOVONI,NaN,Saint Thomas,VI,802,,(340)775-4222,N,Not Virtual,06,08,Middle,1,Regular School,Currently operational,33-Town: Remote,St. Thomas Island,504,504,0,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.0,169.0,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,279.0,228.0,507.0,507.0,49.0,10.35,0.0,0.0,0.0,2.0,1.0,3.0,250.0,204.0,454.0,0.0,0.0,0.0,27.0,21.0,48.0,0.0,0.0,0.0,0.0,2.0,2.0,18.318230,-64.890311

In [28]:
df.shape

(101390, 77)

In [29]:

# This is how many datapoints there are in total
101390* 77

7807030

In [30]:
# this is showing me the data type for all of my columns
df.info(show_counts=True, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101390 entries, 0 to 101389
Data columns (total 77 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   X                 101390 non-null  float64
 1   Y                 101390 non-null  float64
 2   OBJECTID          101390 non-null  int64
 3   NCESSCH           101390 non-null  int64
 4   SURVYEAR          101390 non-null  object
 5   STABR             101390 non-null  object
 6   LEAID             101390 non-null  int64
 7   ST_LEAID          101390 non-null  object
 8   LEA_NAME          101390 non-null  object
 9   SCH_NAME          101390 non-null  object
 10  LSTREET1          101389 non-null  object
 11  LSTREET2          572 non-null     object
 12  LCITY             101390 non-null  object
 13  LSTATE            101390 non-null  object
 14  LZIP              101390 non-null  int64
 15  LZIP4             101390 non-null  object
 16  PHONE             101390 non-null  object
 17  CHARTER_TEXT      101390 non-null  object
 18  VIRTUAL           101390 non-null  object
 19  GSLO              101390 non-null  object
 20  GSHI              101390 non-null  object
 21  SCHOOL_LEVEL      101390 non-null  object
 22  STATUS            101390 non-null  int64
 23  SCHOOL_TYPE_TEXT  101390 non-null  object
 24  SY_STATUS_TEXT    101390 non-null  object
 25  ULOCALE           101390 non-null  object
 26  NMCNTY            101390 non-null  object
 27  TOTFRL            101390 non-null  int64
 28  FRELCH            101390 non-null  int64
 29  REDLCH            101390 non-null  int64
 30  DIRECTCERT        101390 non-null  int64
 31  PK                32392 non-null   float64
 32  KG                54061 non-null   float64
 33  G01               54412 non-null   float64
 34  G02               54469 non-null   float64
 35  G03               54459 non-null   float64
 36  G04               54258 non-null   float64
 37  G05               53014 non-null   float64
 38  G06               38023 non-null   float64
 39  G07               33224 non-null   float64
 40  G08               33492 non-null   float64
 41  G09               28101 non-null   float64
 42  G10               27889 non-null   float64
 43  G11               27888 non-null   float64
 44  G12               27816 non-null   float64
 45  G13               133 non-null     float64
 46  UG                7889 non-null    float64
 47  AE                183 non-null     float64
 48  TOTMENROL         98910 non-null   float64
 49  TOTFENROL         98910 non-null   float64
 50  TOTAL             99719 non-null   float64
 51  MEMBER            99719 non-null   float64
 52  FTE               97537 non-null   float64
 53  STUTERATIO        99576 non-null   float64
 54  AMALM             98809 non-null   float64
 55  AMALF             98811 non-null   float64
 56  AM                98857 non-null   float64
 57  ASALM             98898 non-null   float64
 58  ASALF             98900 non-null   float64
 59  AS                98906 non-null   float64
 60  BLALM             98896 non-null   float64
 61  BLALF             98893 non-null   float64
 62  BL                98903 non-null   float64
 63  HPALM             98782 non-null   float64
 64  HPALF             98783 non-null   float64
 65  HP                98829 non-null   float64
 66  HIALM             98909 non-null   float64
 67  HIALF             98910 non-null   float64
 68  HI                98910 non-null   float64
 69  TRALM             98903 non-null   float64
 70  TRALF             98905 non-null   float64
 71  TR                98906 non-null   float64
 72  WHALM             98909 non-null   float64
 73  WHALF             98909 non-null   float64
 74  WH                98910 non-null   float64
 75  LATCOD            101390 non-null  float64
 76  LONCOD            101390 non-null  float64
dtypes: float64(48), int64(9), object(20)
memory usage: 59.6+ MB

### Null values

In [31]:
#Showing me how many values are missing in each column--the .sum() just gives me the count 
df.isnull().sum()

X                        0
Y                        0
OBJECTID                 0
NCESSCH                  0
SURVYEAR                 0
STABR                    0
LEAID                    0
ST_LEAID                 0
LEA_NAME                 0
SCH_NAME                 0
LSTREET1                 1
LSTREET2            100818
LCITY                    0
LSTATE                   0
LZIP                     0
LZIP4                    0
PHONE                    0
CHARTER_TEXT             0
VIRTUAL                  0
GSLO                     0
GSHI                     0
SCHOOL_LEVEL             0
STATUS                   0
SCHOOL_TYPE_TEXT         0
SY_STATUS_TEXT           0
ULOCALE                  0
NMCNTY                   0
TOTFRL                   0
FRELCH                   0
REDLCH                   0
DIRECTCERT               0
PK                   68998
KG                   47329
G01                  46978
G02                  46921
G03                  46931
G04                  47132
G05                  48376
G06                  63367
G07                  68166
G08                  67898
G09                  73289
G10                  73501
G11                  73502
G12                  73574
G13                 101257
UG                   93501
AE                  101207
TOTMENROL             2480
TOTFENROL             2480
TOTAL                 1671
MEMBER                1671
FTE                   3853
STUTERATIO            1814
AMALM                 2581
AMALF                 2579
AM                    2533
ASALM                 2492
ASALF                 2490
AS                    2484
BLALM                 2494
BLALF                 2497
BL                    2487
HPALM                 2608
HPALF                 2607
HP                    2561
HIALM                 2481
HIALF                 2480
HI                    2480
TRALM                 2487
TRALF                 2485
TR                    2484
WHALM                 2481
WHALF                 2481
WH                    2480
LATCOD                   0
LONCOD                   0
dtype: int64

In [32]:
print(df['SCHOOL_TYPE_TEXT'].value_counts())

SCHOOL_TYPE_TEXT
Regular School                  92204
Alternative Education School     5658
Special Education School         1906
Career and Technical School      1622
Name: count, dtype: int64

In [33]:
print(df['SY_STATUS_TEXT'].value_counts())

# I need to get rid of

SY_STATUS_TEXT
Currently operational                                99528
New school                                             890
School temporarily closed                              480
School to be operational within two years              339
School was operational but not reported last year       74
School has changed agency                               57
School has reopened                                     22
Name: count, dtype: int64

In [34]:
def missing(dataframe):
    print('Percentage of missing values in the dataset:\n',
          round((dataframe.isnull().sum()*100/len(dataframe)),2).sort_values(ascending=False))

In [35]:
missing(df)

Percentage of missing values in the dataset:
 G13                 99.87
AE                  99.82
LSTREET2            99.44
UG                  92.22
G12                 72.57
G10                 72.49
G11                 72.49
G09                 72.28
PK                  68.05
G07                 67.23
G08                 66.97
G06                 62.50
G05                 47.71
KG                  46.68
G04                 46.49
G01                 46.33
G03                 46.29
G02                 46.28
FTE                  3.80
HPALF                2.57
HPALM                2.57
AMALM                2.55
AMALF                2.54
HP                   2.53
AM                   2.50
ASALM                2.46
BLALM                2.46
ASALF                2.46
BLALF                2.46
WHALF                2.45
WH                   2.45
TR                   2.45
AS                   2.45
BL                   2.45
HIALM                2.45
HIALF                2.45
HI                   2.45
WHALM                2.45
TOTFENROL            2.45
TRALF                2.45
TRALM                2.45
TOTMENROL            2.45
STUTERATIO           1.79
TOTAL                1.65
MEMBER               1.65
LCITY                0.00
LSTREET1             0.00
SCH_NAME             0.00
LEA_NAME             0.00
LEAID                0.00
ST_LEAID             0.00
STABR                0.00
SURVYEAR             0.00
X                    0.00
NCESSCH              0.00
OBJECTID             0.00
Y                    0.00
REDLCH               0.00
DIRECTCERT           0.00
TOTFRL               0.00
FRELCH               0.00
LZIP                 0.00
LSTATE               0.00
LZIP4                0.00
PHONE                0.00
CHARTER_TEXT         0.00
VIRTUAL              0.00
GSLO                 0.00
GSHI                 0.00
SCHOOL_LEVEL         0.00
STATUS               0.00
SCHOOL_TYPE_TEXT     0.00
SY_STATUS_TEXT       0.00
ULOCALE              0.00
NMCNTY               0.00
LATCOD               0.00
LONCOD               0.00
dtype: float64

this(^) is important becuase you need to see how much missing data there is bc if its more than like 50% of missing data you will be getting rid of too much to get rid of it. you must find a new way to handle the missing values.

I see that the many of spaces where thera re are missing values is due to the grades of those students are not repsenented in the school grade limitattions. I will not be keeping those columns becuase I will be seeing the grade levels through the "school level" column.

how many missinf values are there?
are these concentrated in specfic rows or coulmns? How does it affect the analysis

In [36]:
df['STUTERATIO'].describe()

count    99576.000000
mean        15.003147
std         22.046021
min         -2.000000
25%         11.590000
50%         14.400000
75%         17.460000
max       3600.000000
Name: STUTERATIO, dtype: float64

## Cleaning the Data

getting rid of the columns I dont need

In [37]:
columns_needed = [
    "NCESSCH", "LEAID", "ST_LEAID", "LEA_NAME", "SCH_NAME", "STABR", "LATCOD", "LONCOD","NMCNTY", "LCITY", "LSTATE", "LZIP",  # ID & Location
    
    "ULOCALE", "STATUS", "TOTFRL", "TOTAL", "STUTERATIO", "CHARTER_TEXT", "VIRTUAL", "FTE",  # School characteristics
   
    "SCHOOL_TYPE_TEXT", "SCHOOL_LEVEL", "CHARTER_TEXT", "VIRTUAL", "SY_STATUS_TEXT",  # School type 
    
    "AM", "AS", "BL", "HI", "WH", "HP", "TR"  # Racial categories
]

ps_data= df[columns_needed]

ps_data.head()

,NCESSCH,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,STABR,LATCOD,LONCOD,NMCNTY,LCITY,LSTATE,LZIP,ULOCALE,STATUS,TOTFRL,TOTAL,STUTERATIO,CHARTER_TEXT,VIRTUAL,FTE,SCHOOL_TYPE_TEXT,SCHOOL_LEVEL,CHARTER_TEXT,VIRTUAL,SY_STATUS_TEXT,AM,AS,BL,HI,WH,HP,TR
0,10000500870,100005,AL-101,Albertville City,Albertville Middle School,AL,34.2602,-86.206200,Marshall County,Albertville,AL,35950,32-Town: Distant,1,697,890.0,19.78,No,Not Virtual,45.000000,Regular School,Middle,No,Not Virtual,Currently operational,5.0,6.0,29.0,502.0,315.0,1.0,32.0
1,10000500871,100005,AL-101,Albertville City,Albertville High School,AL,34.2622,-86.204900,Marshall County,Albertville,AL,35950,32-Town: Distant,1,1254,1712.0,20.09,No,Not Virtual,85.199997,Regular School,High,No,Not Virtual,Currently operational,2.0,9.0,57.0,958.0,641.0,0.0,45.0
2,10000500879,100005,AL-101,Albertville City,Albertville Intermediate School,AL,34.2733,-86.220100,Marshall County,Albertville,AL,35950,32-Town: Distant,1,718,874.0,20.33,No,Not Virtual,43.000000,Regular School,Middle,No,Not Virtual,Currently operational,5.0,4.0,50.0,504.0,298.0,0.0,13.0
3,10000500889,100005,AL-101,Albertville City,Albertville Elementary School,AL,34.2527,-86.221806,Marshall County,Albertville,AL,35950,32-Town: Distant,1,723,874.0,20.33,No,Not Virtual,43.000000,Regular School,Elementary,No,Not Virtual,Currently operational,4.0,4.0,38.0,497.0,304.0,0.0,27.0
4,10000501616,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,AL,34.2898,-86.193300,Marshall County,Albertville,AL,35951,32-Town: Distant,1,392,606.0,23.31,No,Not Virtual,26.000000,Regular School,Elementary,No,Not Virtual,Currently operational,4.0,2.0,49.0,319.0,224.0,0.0,8.0

In [51]:
# Im trying to see what values are not 1-- meaning school that are not operational
# I will get rid of any vaues that are not "1"

ps_data[ps_data['STATUS'] != 1].head(20)

,school_id,district_id,ST_LEAID,district_name,school_name,state,LATCOD,LONCOD,county_name,city,state_full,zip_code,urban_locale,STATUS,free_reduced_lunch,total_students,student_teacher_ratio,charter_status,virtual_status,FTE,school_type,school_level,charter_status,virtual_status,school_status,american_indian,asian,black,hispanic,white,pacific_islander,two_or_more_races,black_pct,white_pct,hispanic_pct,american_indian_pct,pacific_islander_pct,two_or_more_races_pct,asian_pct
50,10000802522,100008,AL-169,Madison City,Journey Middle School,AL,34.686038,-86.747416,Madison County,Madison,AL,35758,21-Suburb: Large,7,-2,NaN,-2.00,No,Not Reported,NaN,Regular School,Middle,No,Not Reported,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,10019902557,100199,AL-801,University Charter School,University Charter School Secondary,AL,32.595845,-88.189756,Sumter County,Livingston,AL,35470,43-Rural: Remote,3,186,292.0,16.22,Yes,Not Virtual,18.000000,Regular School,High,Yes,Not Virtual,New school,1.0,4.0,146.0,7.0,128.0,0.0,6.0,50.000000,43.835616,2.397260,0.342466,0.000000,2.054795,1.369863
159,10021302528,100213,AL-812,Alabama Aerospace and Aviation,Alabama Aerospace and Aviation High School,AL,33.397344,-86.956911,Jefferson County,Bessemer,AL,35020,21-Suburb: Large,3,42,79.0,15.80,Yes,Not Virtual,5.000000,Regular School,Secondary,Yes,Not Virtual,New school,0.0,0.0,59.0,11.0,6.0,0.0,3.0,74.683544,7.594937,13.924051,0.000000,0.000000,3.797468,0.000000
219,10027002544,100270,AL-002,Baldwin County,Stonebridge Elementary,AL,30.678458,-87.804980,Baldwin County,Loxley,AL,36551,41-Rural: Fringe,3,91,509.0,17.31,No,Not Virtual,29.400000,Regular School,Elementary,No,Not Virtual,New school,4.0,20.0,18.0,41.0,401.0,0.0,25.0,3.536346,78.781925,8.055010,0.785855,0.000000,4.911591,3.929273
400,10081002545,100810,AL-016,Coffee County,New Brockton Middle School,AL,31.380382,-85.935457,Coffee County,New Brockton,AL,36351,42-Rural: Distant,3,250,361.0,19.69,No,Not Virtual,18.330000,Regular School,Middle,No,Not Virtual,New school,8.0,4.0,27.0,66.0,245.0,0.0,11.0,7.479224,67.867036,18.282548,2.216066,0.000000,3.047091,1.108033
566,10129002520,101290,AL-026,Elmore County,Redland Middle School,AL,32.481950,-86.107104,Elmore County,Wetumpka,AL,36093,42-Rural: Distant,3,234,552.0,17.81,No,Not Virtual,31.000000,Regular School,Middle,No,Not Virtual,New school,3.0,4.0,124.0,14.0,379.0,0.0,28.0,22.463768,68.659420,2.536232,0.543478,0.000000,5.072464,0.724638
880,10201002547,102010,AL-039,Lauderdale County,Central Elementary School,AL,34.896864,-87.796059,Lauderdale County,Florrence,AL,35633,42-Rural: Distant,3,450,714.0,18.17,No,Not Virtual,39.299999,Regular School,Elementary,No,Not Virtual,New school,1.0,2.0,32.0,21.0,640.0,0.0,18.0,4.481793,89.635854,2.941176,0.140056,0.000000,2.521008,0.280112
881,10201002548,102010,AL-039,Lauderdale County,Lauderdale Elementary School,AL,34.828233,-87.290232,Lauderdale County,Rogersville,AL,35652,42-Rural: Distant,3,395,705.0,18.55,No,Not Virtual,38.000000,Regular School,Elementary,No,Not Virtual,New school,1.0,6.0,29.0,10.0,636.0,1.0,22.0,4.113475,90.212766,1.418440,0.141844,0.141844,3.120567,0.851064
882,10201002549,102010,AL-039,Lauderdale County,Lexington Elementary School,AL,34.967822,-87.374157,Lauderdale County,Lexington,AL,35648,42-Rural: Distant,3,193,435.0,16.60,No,Not Virtual,26.200001,Regular School,Elementary,No,Not Virtual,New school,1.0,1.0,4.0,4.0,419.0,0.0,6.0,0.919540,96.321839,0.919540,0.229885,0.000000,1.379310,0.229885
883,10201002550,102010,AL-039,Lauderdale County,Rogers Elementary School,AL,34.962905,-87.522186,Lauderdale County,Florence,AL,35630,42-Rural: Distant,3,367,604.0,18.30,No,Not Virtual,33.000000,Regular School,Elementary,No,Not Virtual,New school,2.0,4.0,5.0,11.0,571.0,0.0,11.0,0.827815,94.536424,1.821192,0.331126,0.000000,1.821192,0.662252
884,10201002551,102010,AL-039,Lauderdale County,Wilson Elementary School,AL,34.926442,-87.670626,Lauderdale County,Florence,AL,35634,41-Rural: Fringe,3,399,577.0,17.04,No,Not Virtual,33.869999,Regular School,Elementary,No,Not Virtual,New school,1.0,2.0,5.0,11.0,550.0,0.0,8.0,0.866551,95.320624,1.906412,0.173310,0.000000,1.386482,0.346620
1194,10258002556,102580,AL-179,Opelika City,Fox Run School,AL,32.659430,-85.360927,Lee County,Opelika,AL,36801,13-City: Small,7,-2,NaN,-2.00,No,Not Reported,NaN,Regular School,Middle,No,Not Reported,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1515,10358102554,103581,AL-174,Orange Beach City,Orange Beach Elementary School,AL,30.297043,-87.557752,Baldwin County,Orange Beach,AL,36561,21-Suburb: Large,3,159,628.0,22.43,No,Not Virtual,28.000000,Regular School,Elementary,No,Not Virtual,New school,1.0,1.0,13.0,7.0,575.0,0.0,31.0,2.070064,91.560510,1.114650,0.159236,0.000000,4.936306,0.159236
1516,10358102555,103581,AL-174,Orange Beach City,Orange Beach MiddleHigh School,AL,30.289550,-87.618274,Baldwin County,Orange Beach,AL,36561,41-Rural: Fringe,3,148,631.0,19.12,No,Not Virtual,33.000000,Regular School,High,No,Not Virtual,New school,3.0,2.0,5.0,8.0,578.0,0.0,35.0,0.792393,91.600634,1.267829,0.475436,0.000000,5.546751,0.316957
1518,10358302559,103583,AL-813,Covenant Academy of Mobile,Covenant Academy of Mobile,AL,30.616988,-88.148875,Mobile County,Mobile,AL,36693,12-City: Mid-size,7,-2,NaN,-2.00,Yes,Not Reported,NaN,Regular School,Elementary,Yes,Not Reported,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1519,10358402560,103584,AL-814,Barnabas School of Leadership,Barnabas School of Leadership,AL,31.232732,-85.391615,Houston County,Dothan,AL,36303,13-City: Small,7,-2,NaN,-2.00,Yes,Not Reported,NaN,Regular School,Elementary,Yes,Not Reported,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1698,20018000400,200180,AK-05,Anchorage School District,Ursa Major Elementary,AK,61.251319,-149.677626,Anchorage Municipality,JBER,AK,99505,41-Rural: Fringe,6,-2,NaN,-2.00,No,Not Reported,NaN,Regular School,Not reported,No,Not Reported,School temporarily closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1870,20051010163,200510,AK-33,Matanuska-Susitna Borough School District,Knik Charter Correspondence School,AK,61.586586,-149.340359,Matanuska-Susitna Borough,Wasilla,AK,99654,32-Town: Distant,4,3,37.0,37.00,Yes,Not Virtual,1.000000,Regular School,Other,Yes,Not Virtual,School was operational but not reported last year,14.0,0.0,0.0,3.0,6.0,0.0,14.0,0.000000,16.216216,8.108108,37.837838,0.000000,37.837838,0.000000
1871,20051010164,200510,AK-33,Matanuska-Susitna Borough School District,Knik Charter School,AK,61.586586,-149.340359,Matanuska-Susitna Borough,Wasilla,AK,99654,32-Town: Distant,4,3,98.0,12.25,Yes,Not Virtual,8.000000,Regular School,Other,Yes,Not Virtual,School was operational but not reported last year,50.0,1.0,1.0,1.0,14.0,0.0,31.0,1.020408,14.285714,1.020408,51.020408,0.000000,31.632653,1.020408
1896,20060000256,200600,AK-16,Fairbanks North Star Borough School District,Anderson Elementary,AK,64.680042,-147.073414,Fairbanks North Star Borough,Eielson AFB,AK,99702,31-Town: Fringe,6,-2,NaN,-2.00,No,Not Reported,NaN,Regular School,Elementary,No,Not Reported,School temporarily closed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# get rid of rows that contain -1. It was indicated that -1 in this dataset means the data is missing 


#seeing the -1 values
ps_data_missing = ps_data[(ps_data == -1).any(axis=1)]

ps_data_missing.head()

,NCESSCH,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,STABR,LATCOD,LONCOD,NMCNTY,LCITY,LSTATE,LZIP,ULOCALE,STATUS,TOTFRL,TOTAL,STUTERATIO,CHARTER_TEXT,VIRTUAL,FTE,SCHOOL_TYPE_TEXT,SCHOOL_LEVEL,CHARTER_TEXT,VIRTUAL,SY_STATUS_TEXT,AM,AS,BL,HI,WH,HP,TR
8,10000600876,100006,AL-048,Marshall County,Claysville School,AL,34.406900,-86.270400,Marshall County,Guntersville,AL,35976,41-Rural: Fringe,1,-1,0.0,-1.0,No,Not Virtual,NaN,Regular School,Prekindergarten,No,Not Virtual,Currently operational,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,10000600986,100006,AL-048,Marshall County,Marshall Alternative School,AL,34.406900,-86.270400,Marshall County,Guntersville,AL,35976,41-Rural: Fringe,1,-1,0.0,-1.0,No,Not Virtual,NaN,Alternative Education School,Other,No,Not Virtual,Currently operational,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,10000600987,100006,AL-048,Marshall County,Marshall Technical School,AL,34.305400,-86.285900,Marshall County,Guntersville,AL,35976,41-Rural: Fringe,1,-1,0.0,-1.0,No,Not Virtual,NaN,Career and Technical School,High,No,Not Virtual,Currently operational,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37,10000702359,100007,AL-158,Hoover City,Crossroads School,AL,33.337604,-86.840932,Jefferson County,Hoover,AL,35244,13-City: Small,1,-1,0.0,-1.0,No,Not Virtual,NaN,Alternative Education School,High,No,Not Virtual,Currently operational,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,10000702487,100007,AL-158,Hoover City,Riverchase Career Connection Center,AL,33.346680,-86.809690,Shelby County,Hoover,AL,35244,13-City: Small,1,-1,0.0,0.0,No,Not Virtual,20.5,Career and Technical School,High,No,Not Virtual,Currently operational,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
#this code below will update my dataset to not include the rows with -1 values
ps_data_cleaned= ps_data[~(ps_data == -1).any(axis=1)]

ps_data_cleaned.head(50)

,school_id,district_id,ST_LEAID,district_name,school_name,state,LATCOD,LONCOD,county_name,city,state_full,zip_code,urban_locale,STATUS,free_reduced_lunch,total_students,student_teacher_ratio,charter_status,virtual_status,FTE,school_type,school_level,charter_status,virtual_status,school_status,american_indian,asian,black,hispanic,white,pacific_islander,two_or_more_races
0,10000500870,100005,AL-101,Albertville City,Albertville Middle School,AL,34.260200,-86.206200,Marshall County,Albertville,AL,35950,32-Town: Distant,1,697,890.0,19.78,No,Not Virtual,45.000000,Regular School,Middle,No,Not Virtual,Currently operational,5.0,6.0,29.0,502.0,315.0,1.0,32.0
1,10000500871,100005,AL-101,Albertville City,Albertville High School,AL,34.262200,-86.204900,Marshall County,Albertville,AL,35950,32-Town: Distant,1,1254,1712.0,20.09,No,Not Virtual,85.199997,Regular School,High,No,Not Virtual,Currently operational,2.0,9.0,57.0,958.0,641.0,0.0,45.0
2,10000500879,100005,AL-101,Albertville City,Albertville Intermediate School,AL,34.273300,-86.220100,Marshall County,Albertville,AL,35950,32-Town: Distant,1,718,874.0,20.33,No,Not Virtual,43.000000,Regular School,Middle,No,Not Virtual,Currently operational,5.0,4.0,50.0,504.0,298.0,0.0,13.0
3,10000500889,100005,AL-101,Albertville City,Albertville Elementary School,AL,34.252700,-86.221806,Marshall County,Albertville,AL,35950,32-Town: Distant,1,723,874.0,20.33,No,Not Virtual,43.000000,Regular School,Elementary,No,Not Virtual,Currently operational,4.0,4.0,38.0,497.0,304.0,0.0,27.0
4,10000501616,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,AL,34.289800,-86.193300,Marshall County,Albertville,AL,35951,32-Town: Distant,1,392,606.0,23.31,No,Not Virtual,26.000000,Regular School,Elementary,No,Not Virtual,Currently operational,4.0,2.0,49.0,319.0,224.0,0.0,8.0
5,10000502150,100005,AL-101,Albertville City,Albertville Primary School,AL,34.253300,-86.221800,Marshall County,Albertville,AL,35950,32-Town: Distant,1,779,944.0,15.48,No,Not Virtual,61.000000,Regular School,Elementary,No,Not Virtual,Currently operational,10.0,3.0,45.0,546.0,320.0,1.0,19.0
6,10000600193,100006,AL-048,Marshall County,Kate Duncan Smith DAR Middle,AL,34.533750,-86.254153,Marshall County,Grant,AL,35747,42-Rural: Distant,1,151,364.0,16.52,No,Not Virtual,22.030001,Regular School,Middle,No,Not Virtual,Currently operational,4.0,0.0,2.0,14.0,330.0,0.0,14.0
7,10000600872,100006,AL-048,Marshall County,Asbury High School,AL,34.362500,-86.142000,Marshall County,Albertville,AL,35951,42-Rural: Distant,1,555,664.0,19.38,No,Not Virtual,34.270000,Regular School,High,No,Not Virtual,Currently operational,2.0,2.0,11.0,318.0,324.0,2.0,5.0
9,10000600877,100006,AL-048,Marshall County,Douglas Elementary School,AL,34.176234,-86.321259,Marshall County,Douglas,AL,35964,42-Rural: Distant,1,245,461.0,18.44,No,Not Virtual,25.000000,Regular School,Elementary,No,Not Virtual,Currently operational,6.0,0.0,9.0,194.0,246.0,1.0,5.0
10,10000600878,100006,AL-048,Marshall County,Douglas High School,AL,34.178658,-86.319462,Marshall County,Douglas,AL,35964,42-Rural: Distant,1,334,674.0,19.67,No,Not Virtual,34.270000,Regular School,High,No,Not Virtual,Currently operational,4.0,0.0,10.0,293.0,362.0,2.0,3.0
11,10000600880,100006,AL-048,Marshall County,Brindlee Mountain Elementary School,AL,34.344500,-86.442100,Marshall County,Arab,AL,35016,41-Rural: Fringe,1,109,236.0,21.45,No,Not Virtual,11.000000,Regular School,Elementary,No,Not Virtual,Currently operational,0.0,4.0,3.0,7.0,219.0,0.0,3.0
12,10000600883,100006,AL-048,Marshall County,Kate D Smith DAR High School,AL,34.533750,-86.254153,Marshall County,Grant,AL,35747,42-Rural: Distant,1,132,394.0,16.79,No,Not Virtual,23.469999,Regular School,High,No,Not Virtual,Currently operational,2.0,5.0,5.0,15.0,359.0,0.0,8.0
13,10000600887,100006,AL-048,Marshall County,Brindlee Mountain Primary School,AL,34.377151,-86.422446,Marshall County,Guntersville,AL,35976,41-Rural: Fringe,1,134,227.0,16.63,No,Not Virtual,13.650000,Regular School,Elementary,No,Not Virtual,Currently operational,0.0,0.0,0.0,13.0,207.0,0.0,7.0
16,10000601413,100006,AL-048,Marshall County,Robert D Sloman Primary,AL,34.176774,-86.322507,Marshall County,Douglas,AL,35964,42-Rural: Distant,1,300,596.0,17.19,No,Not Virtual,34.669998,Regular School,Elementary,No,Not Virtual,Currently operational,1.0,0.0,12.0,237.0,342.0,0.0,4.0
17,10000601585,100006,AL-048,Marshall County,Brindlee Mountain High School,AL,34.376400,-86.421900,Marshall County,Guntersville,AL,35976,41-Rural: Fringe,1,280,553.0,18.13,No,Not Virtual,30.500000,Regular School,High,No,Not Virtual,Currently operational,4.0,5.0,10.0,40.0,486.0,0.0,8.0
18,10000601685,100006,AL-048,Marshall County,Kate D Smith DAR Elementary School,AL,34.533750,-86.254153,Marshall County,Grant,AL,35747,42-Rural: Distant,1,254,585.0,16.23,No,Not Virtual,36.049999,Regular School,Elementary,No,Not Virtual,Currently operational,6.0,3.0,5.0,25.0,542.0,0.0,4.0
19,10000601812,100006,AL-048,Marshall County,Douglas Middle School,AL,34.177536,-86.320895,Marshall County,Douglas,AL,35964,42-Rural: Distant,1,263,496.0,18.63,No,Not Virtual,26.629999,Regular School,Middle,No,Not Virtual,Currently operational,2.0,2.0,10.0,231.0,247.0,0.0,4.0
20,10000602209,100006,AL-048,Marshall County,Asbury Elementary School,AL,34.362734,-86.141422,Marshall County,Albertville,AL,35951,42-Rural: Distant,1,590,701.0,18.45,No,Not Virtual,38.000000,Regular School,Elementary,No,Not Virtual,Currently operational,2.0,4.0,9.0,303.0,375.0,2.0,6.0
21,10000700091,100007,AL-158,Hoover City,Trace Crossings Elementary School,AL,33.340900,-86.844700,Jefferson County,Hoover,AL,35244,13-City: Small,1,285,788.0,15.30,No,Not Virtual,51.500000,Regular School,Elementary,No,Not Virtual,Currently operational,1.0,75.0,267.0,65.0,326.0,0.0,54.0
22,10000700248,100007,AL-158,Hoover City,Greystone Elementary School,AL,33.413000,-86.658500,Shelby County,Hoover,AL,35242,13-City: Small,1,65,424.0,13.38,No,Not Virtual,31.700001,Regular School,Elementary,No,Not Virtual,Currently operational,0.0,39.0,39.0,16.0,307.0,0.0,23.0
23,10000700251,100007,AL-158,Hoover City,Hoover High School,AL,33.344400,-86.837700,Jefferson County,Hoover,AL,35244,13-City: Small,1,919,2841.0,15.70,No,Not Virtual,181.000000,Regular School,High,No,Not Virtual,Currently operational,4.0,198.0,793.0,265.0,1480.0,1.0,100.0
24,10000700337,100007,AL-158,Hoover City,Berry Middle School,AL,33.395600,-86.732200,Shelby County,Hoover,AL,35242,13-City: Small,1,380,1113.0,14.74,No,Not Virtual,75.500000,Regular School,Middle,No,Not Virtual,Currently operational,0.0,93.0,219.0,108.0,649.0,2.0,42.0
25,10000700342,100007,AL-158,Hoover City,South Shades Crest Elementary School,AL,33.337500,-86.878400,Jefferson County,Hoover,AL,35244,13-City: Small,1,108,568.0,15.65,No,Not Virtual,36.299999,Regular School,Elementary,No,Not Virtual,Currently operational,2.0,65.0,115.0,32.0,313.0,0.0,41.0
26,10000701422,100007,AL-158,Hoover City,Robert F Bumpus Middle School,AL,33.330923,-86.854796,Shelby County,Hoover,AL,35244,41-Rural: Fringe,1,251,1128.0,14.94,No,Not Virtual,75.500000,Regular School,Middle,No,Not Virtual,Currently operational,1.0,141.0,275.0,54.0,597.0,1.0,59.0
27,10000701456,100007,AL-158,Hoover City,Spain Park High School,AL,33.392700,-86.728800,Shelby County,Hoover,AL,35242,13-City: Small,1,417,1503.0,15.14,No,Not Virtual,99.279999,Regular School,High,No,Not Virtual,Currently operational,1.0,101.0,280.0,150.0,920.0,2.0,49.0
28,10000701483,100007,AL-158,Hoover City,Deer Valley Elementary School,AL,33.363900,-86.867400,Jefferson County,Hoover,AL,35226,13-City: Small,1,94,740.0,15.42,No,Not Virtual,48.000000,Regular School,Elementary,No,Not Virtual,Currently operational,3.0,84.0,123.0,26.0,466.0,0.0,38.0
29,10000701738,100007,AL-158,Hoover City,Bluff Park Elementary School,AL,33.409600,-86.853800,Jefferson County,Hoover,AL,35226,13-City: Small,1,123,581.0,14.35,No,Not Virtual,40.500000,Regular School,Elementary,No,Not Virtual,Currently operational,0.0,5.0,59.0,32.0,466.0,0.0,19.0
30,10000701739,100007,AL-158,Hoover City,Green Valley Elementary School,AL,33.395700,-86.808800,Jefferson County,Hoover,AL,35226,13-City: Small,1,262,476.0,13.04,No,Not Virtual,36.500000,Regular School,Elementary,No,Not Virtual,Currently operational,1.0,9.0,160.0,90.0,197.0,0.0,19.0
31,10000701740,100007,AL-158,Hoover City,Gwin Elementary School,AL,33.388200,-86.831200,Jefferson County,Hoover,AL,35226,13-City: Small,1,226,515.0,12.48,No,Not Virtual,41.250000,Regular School,Elementary,No,Not Virtual,Currently operational,0.0,18.0,134.0,91.0,261.0,0.0,11.0
32,10000701741,100007,AL-158,Hoover City,Ira F Simmons Middle School,AL,33.387900,-86.833700,Jefferson County,Hoover,AL,35226,13-City: Small,1,404,882.0,12.97,No,Not Virtual,68.000000,Regular School,Middle,No,Not Virtual,Currently operational,1.0,28.0,228.0,120.0,468.0,0.0,37.0
33,10000701742,100007,AL-158,Hoover City,Rocky Ridge Elementary School,AL,33.409100,-86.766800,Jefferson County,Hoover,AL,35243,13-City: Small,1,209,573.0,13.17,No,Not Virtual,43.500000,Regular School,Elementary,No,Not Virtual,Currently operational,1.0,20.0,113.0,69.0,326.0,1.0,43.0
34,10000701743,100007,AL-158,Hoover City,Shades Mountain Elementary School,AL,33.426608,-86.824614,Jefferson County,Hoover,AL,35226,13-City: Small,1,157,330.0,14.22,No,Not Virtual,23.200001,Regular School,Elementary,No,Not Virtual,Currently operational,0.0,24.0,55.0,32.0,187.0,1.0,31.0
35,10000702091,100007,AL-158,Hoover City,Riverchase Elementary School,AL,33.359600,-86.812900,Shelby County,Hoover,AL,35244,13-City: Small,1,204,603.0,13.70,No,Not Virtual,44.000000,Regular School,Elementary,No,Not Virtual,Currently operational,1.0,65.0,142.0,72.0,288.0,0.0,35.0
36,10000702186,100007,AL-158,Hoover City,Brocks Gap Intermediate School,AL,33.344122,-86.889190,Jefferson County,Hoover,AL,35244,13-City: Small,1,116,492.0,14.69,No,Not Virtual,33.500000,Regular School,Elementary,No,Not Virtual,Currently operational,0.0,43.0,113.0,36.0,262.0,4.0,34.0
39,10000800303,100008,AL-169,Madison City,Horizon Elementary School,AL,34.705800,-86.713700,Madison County,Madison,AL,35758,21-Suburb: Large,1,184,547.0,14.99,No,Not Virtual,36.500000,Regular School,Elementary,No,Not Virtual,Currently operational,3.0,33.0,105.0,48.0,313.0,0.0,45.0
40,10000800495,100008,AL-169,Madison City,Discovery Middle School,AL,34.740800,-86.742700,Madison County,Madison,AL,35758,21-Suburb: Large,1,338,1334.0,16.68,No,Not Virtual,80.000000,Regular School,Middle,No,Not Virtual,Currently operational,7.0,102.0,259.0,103.0,769.0,4.0,90.0
41,10000800831,100008,AL-169,Madison City,Bob Jones High School,AL,34.719200,-86.742500,Madison County,Madison,AL,35758,21-Suburb: Large,1,454,1920.0,17.61,No,Not Virtual,109.000000,Regular School,High,No,Not Virtual,Currently operational,13.0,132.0,426.0,157.0,1073.0,1.0,118.0
42,10000800839,100008,AL-169,Madison City,Madison Elementary School,AL,34.697500,-86.750500,Madison County,Madison,AL,35758,21-Suburb: Large,1,137,505.0,13.84,No,Not Virtual,36.500000,Regular School,Elementary,No,Not Virtual,Currently operational,0.0,43.0,99.0,32.0,295.0,0.0,36.0
43,10000800851,100008,AL-169,Madison City,MidTown Elementary School,AL,34.709961,-86.749524,Madison County,Madison,AL,35758,21-Suburb: Large,1,263,999.0,18.00,No,Not Virtual,55.500000,Regular School,Elementary,No,Not Virtual,Currently operational,1.0,61.0,218.0,93.0,556.0,2.0,68.0
44,10000801423,100008,AL-169,Madison City,Heritage Elementary School,AL,34.721100,-86.783200,Madison County,Madison,AL,35758,21-Suburb: Large,1,193,876.0,19.04,No,Not Virtual,46.000000,Regular School,Elementary,No,Not Virtual,Currently operational,3.0,109.0,142.0,71.0,497.0,6.0,48.0
45,10000801485,100008,AL-169,Madison City,Rainbow Elementary School,AL,34.751200,-86.733100,Madison County,Madison,AL,35758,21-Suburb: Large,1,166,926.0,17.71,No,Not Virtual,52.299999,Regular School,Elementary,No,Not Virtual,Currently operational,1.0,57.0,153.0,79.0,558.0,2.0,76.0
46,10000801798,100008,AL-169,Madison City,Liberty Middle School,AL,34.733700,-86.779200,Madison County,Madison,AL,35758,21-Suburb: Large,1,325,1493.0,19.06,No,Not Virtual,78.330002,Regular School,Middle,No,Not Virtual,Currently operational,13.0,178.0,256.0,124.0,830.0,1.0,91.0
47,10000802097,100008,AL-169,Madison City,Columbia Elementary School,AL,34.734300,-86.766000,Madison County,Madison,AL,35758,21-Suburb: Large,1,183,784.0,16.86,No,Not Virtual,46.500000,Regular School,Elementary,No,Not Virtual,Currently operational,0.0,99.0,125.0,76.0,428.0,0.0,56.0
48,10000802133,100008,AL-169,Madison City,Mill Creek Elementary School,AL,34.701186,-86.772013,Madison County,Madison,AL,35758,21-Suburb: Large,1,210,940.0,15.59,No,Not Virtual,60.299999,Regular School,Elementary,No,Not Virtual,Currently operational,4.0,89.0,153.0,90.0,531.0,0.0,73.0
49,10000802198,100008,AL-169,Madison City,James Clemens High School,AL,34.705886,-86.791802,Limestone County,Madison,AL,35756,21-Suburb: Large,1,454,2149.0,17.93,No,Not Virtual,119.830002,Regular School,High,No,Not Virtual,Currently operational,12.0,213.0,426.0,180.0,1218.0,4.0,96.0
50,10000802522,100008,AL-169,Madison City,Journey Middle School,AL,34.686038,-86.747416,Madison County,Madison,AL,35758,21-Suburb: Large,7,-2,NaN,-2.00,No,Not Reported,NaN,Regular School,Middle,No,Not Reported,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,10001102094,100011,AL-167,Leeds City,Leeds Elementary School,AL,33.545200,-86.548100,Jefferson County,Leeds,AL,35094,21-Suburb: Large,1,369,625.0,21.55,No,Not Virtual,29.000000,Regular School,Elementary,No,Not Virtual,Currently operational,1.0,5.0,165.0,88.0,358.0,0.0,8.0
57,10001102095,100011,AL-167,Leeds City,Leeds Middle School,AL,33.549360,-86.536894,Jefferson County,Leeds,AL,35094,21-Suburb: Large,1,292,470.0,18.08,No,Not Virtual,26.000000,Regular School,Middle,No,Not Virtual,Currently operational,1.0,1.0,125.0,82.0,258.0,0.0,3.0
58,10001102096,100011,AL-167,Leeds City,Leeds High School,AL,33.547574,-86.574182,Jefferson County,Leeds,AL,35094,21-Suburb: Large,1,321,619.0,17.44,No,Not Virtual,35.500000,Regular School,High,No,Not Virtual,Currently operational,0.0,2.0,150.0,91.0,362.0,0.0,14.0
59,10001102430,100011,AL-167,Leeds City,Leeds Primary School,AL,33.545099,-86.560964,Jefferson County,Leeds,AL,35094,21-Suburb: Large,1,213,509.0,16.97,No,Not Virtual,30.000000,Regular School,Elementary,No,Not Virtual,Currently operational,0.0,4.0,128.0,73.0,284.0,0.0,20.0

In [56]:
# Renaming my columns so I know what they are:
ps_data = ps_data_cleaned.rename(columns={
    "NCESSCH": "school_id",
    "LEAID": "district_id",
    "LEA_NAME": "district_name",
    "SCH_NAME": "school_name",
    "STABR": "state",
    
    "ULOCALE": "urban_locale",
    "SY_STATUS_TEXT": "school_status",
    "TOTFRL": "free_reduced_lunch",
    "TOTAL": "total_students",
    "STUTERATIO": "student_teacher_ratio",
    "CHARTER_TEXT": "charter_status",
    "VIRTUAL": "virtual_status",
    
    "SCHOOL_TYPE_TEXT": "school_type",
    "SCHOOL_LEVEL": "school_level",
    "NMCNTY": "county_name",
    "LCITY": "city",
    "LSTATE": "state_full",
    "LZIP": "zip_code",
    
    "AM": "american_indian",
    "AS": "asian",
    "BL": "black",
    "HI": "hispanic",
    "WH": "white",
    "HP": "pacific_islander",
    "TR": "two_or_more_races"
})

In [71]:
# I need to get rid of rows that dont have "NA" values int the TOTAL

# seeing how many missing values are in the TOTFRL column

num_missing_total= ps_data["total_students"].isna().sum()

print(f" total number of nan values in the total student column: {num_missing_total}")

pct_missing_total= (ps_data["total_students"].isna().sum() / len(ps_data)) * 100

print(f" percent of nan values in the total_student column: {pct_missing_total: .2f}%")

 total number of nan values in the total student column: 819
 percent of nan values in the total_student column:  0.94%

#### I will get rid of those NaN rows in "total_students" since there arent that many rows with those missue values and I need an integer in the total_students column for my future analysis

In [ ]:
#getting rid of the NaN values in "total_students" column
ps_data= ps_data.dropna(subset= ["total_students"])

In [ ]:
#I need to get rid of rows where the total stidents == 0. I dont need that information

zero_total= (ps_data["total_students"] == 0).sum()

print(zero_total)

In [81]:
ps_data=ps_data[ps_data["total_students"] != 0]

ps_data["total_students"].describe()

count    86497.000000
mean       521.988289
std        457.483946
min          1.000000
25%        258.000000
50%        427.000000
75%        639.000000
max      15223.000000
Name: total_students, dtype: float64

In [ ]:
high_total= ps_data[ps_data["total_students"]== ps_data["total_students"].max()]

high_total

# I may need to get rid of fully virtual schools. The total student value for this school(the max) is too high and may skew my data

,school_id,district_id,ST_LEAID,district_name,school_name,state,LATCOD,LONCOD,county_name,city,state_full,zip_code,urban_locale,STATUS,free_reduced_lunch,total_students,student_teacher_ratio,charter_status,virtual_status,FTE,school_type,school_level,charter_status,virtual_status,school_status,american_indian,asian,black,hispanic,white,pacific_islander,two_or_more_races
71025,400077702741,4000777,OK-55-Z014,EPIC VIRTUAL CHARTER,Epic Charter School Elementary,OK,35.522075,-97.545516,Oklahoma County,Oklahoma City,OK,73118,11-City: Large,1,10074,15223.0,20.78,Yes,Full Virtual,732.619995,Regular School,Elementary,Yes,Full Virtual,Currently operational,820.0,82.0,1249.0,2064.0,7711.0,19.0,3262.0

In [73]:
# -9 means that the data do not meet NCES data quality standards.

ps_data.describe()

,school_id,district_id,LATCOD,LONCOD,zip_code,STATUS,free_reduced_lunch,total_students,student_teacher_ratio,FTE,american_indian,asian,black,hispanic,white,pacific_islander,two_or_more_races
count,8.671700e+04,8.671700e+04,86717.000000,86717.000000,86717.000000,86717.000000,86717.000000,86717.000000,85676.000000,86717.000000,85884.000000,85917.000000,85913.000000,85920.000000,85920.000000,85865.000000,85917.000000
mean,2.860684e+11,2.860684e+06,37.706429,-93.698652,55526.272219,1.018278,285.319372,520.664011,15.893261,33.454998,5.176168,28.832373,76.382375,155.685952,226.481401,2.091912,25.639617
std,1.667536e+11,1.667536e+06,5.795459,17.044285,29008.903745,0.220967,289.555232,457.657182,15.955419,26.361145,25.915859,86.258047,145.057979,247.033215,254.722393,13.706734,35.035494
min,1.000050e+10,1.000050e+05,14.140873,-176.640331,601.000000,1.000000,-9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.301290e+11,1.301290e+06,33.853500,-102.794062,30650.000000,1.000000,100.000000,257.000000,12.230000,18.000000,0.000000,1.000000,3.000000,17.000000,41.000000,0.000000,5.000000
50%,2.802880e+11,2.802880e+06,38.597092,-90.424000,56601.000000,1.000000,216.000000,426.000000,14.780000,28.290001,1.000000,4.000000,17.000000,64.000000,162.000000,0.000000,16.000000
75%,4.212840e+11,4.212840e+06,41.577200,-81.440468,79606.000000,1.000000,381.000000,638.000000,17.880000,41.500000,3.000000,20.000000,87.000000,198.000000,322.000000,1.000000,35.000000
max,7.800030e+11,7.800030e+06,71.300337,145.784430,99950.000000,8.000000,10074.000000,15223.000000,1860.000000,1648.119995,1285.000000,3476.000000,5135.000000,4504.000000,7711.000000,996.000000,3262.000000

In [43]:
# adding a column that shows the %

pct_columns = ["black",
    "white",
    "hispanic",
    "american_indian",
    "pacific_islander",
    "two_or_more_races",
    "asian"]

for col in pct_columns:
    if col in ps_data.columns:
        ps_data[col + "_pct"] = (ps_data[col]/ ps_data ["total_students"])* 100

ps_data.head()

,school_id,district_id,ST_LEAID,district_name,school_name,state,LATCOD,LONCOD,county_name,city,state_full,zip_code,urban_locale,STATUS,free_reduced_lunch,total_students,student_teacher_ratio,charter_status,virtual_status,FTE,school_type,school_level,charter_status,virtual_status,school_status,american_indian,asian,black,hispanic,white,pacific_islander,two_or_more_races,black_pct,white_pct,hispanic_pct,american_indian_pct,pacific_islander_pct,two_or_more_races_pct,asian_pct
0,10000500870,100005,AL-101,Albertville City,Albertville Middle School,AL,34.2602,-86.206200,Marshall County,Albertville,AL,35950,32-Town: Distant,1,697,890.0,19.78,No,Not Virtual,45.000000,Regular School,Middle,No,Not Virtual,Currently operational,5.0,6.0,29.0,502.0,315.0,1.0,32.0,3.258427,35.393258,56.404494,0.561798,0.11236,3.595506,0.674157
1,10000500871,100005,AL-101,Albertville City,Albertville High School,AL,34.2622,-86.204900,Marshall County,Albertville,AL,35950,32-Town: Distant,1,1254,1712.0,20.09,No,Not Virtual,85.199997,Regular School,High,No,Not Virtual,Currently operational,2.0,9.0,57.0,958.0,641.0,0.0,45.0,3.329439,37.441589,55.957944,0.116822,0.00000,2.628505,0.525701
2,10000500879,100005,AL-101,Albertville City,Albertville Intermediate School,AL,34.2733,-86.220100,Marshall County,Albertville,AL,35950,32-Town: Distant,1,718,874.0,20.33,No,Not Virtual,43.000000,Regular School,Middle,No,Not Virtual,Currently operational,5.0,4.0,50.0,504.0,298.0,0.0,13.0,5.720824,34.096110,57.665904,0.572082,0.00000,1.487414,0.457666
3,10000500889,100005,AL-101,Albertville City,Albertville Elementary School,AL,34.2527,-86.221806,Marshall County,Albertville,AL,35950,32-Town: Distant,1,723,874.0,20.33,No,Not Virtual,43.000000,Regular School,Elementary,No,Not Virtual,Currently operational,4.0,4.0,38.0,497.0,304.0,0.0,27.0,4.347826,34.782609,56.864989,0.457666,0.00000,3.089245,0.457666
4,10000501616,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,AL,34.2898,-86.193300,Marshall County,Albertville,AL,35951,32-Town: Distant,1,392,606.0,23.31,No,Not Virtual,26.000000,Regular School,Elementary,No,Not Virtual,Currently operational,4.0,2.0,49.0,319.0,224.0,0.0,8.0,8.085809,36.963696,52.640264,0.660066,0.00000,1.320132,0.330033

I am seeing there is missing data in all colmumns when there is a -1 in free_reduced_lunch-- get rid of those rows

In [ ]:
#seeing the placements of all the schools 
df_race["urban_locale"].value_counts()

urban_locale
21-Suburb: Large       26614
11-City: Large         15228
41-Rural: Fringe       11979
42-Rural: Distant      10103
13-City: Small          6538
43-Rural: Remote        6332
32-Town: Distant        6199
12-City: Mid-size       6053
33-Town: Remote         4104
22-Suburb: Mid-size     3305
31-Town: Fringe         2940
23-Suburb: Small        1995
Name: count, dtype: int64