In [86]:
import pandas as pd
import numpy
import matplotlib

import seaborn
import  plotly
import  scipy
import  statsmodels

#returns all the rows and columns for the dataframe

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Force pandas to display full numbers instead of scientific notation
# pd.options.display.float_format = '{:.0f}'.format

# Library to suppress warnings
import warnings
warnings.filterwarnings('ignore')

# Dataset Description:
The Public School Characteristics 2020-2021 dataset is provided by the National Center for Education Statistics. This dataset provides information on schools across the U.S and icnludes data on school identifiers, location details, enrollment information, grade leves, Title 1 funding status, and school types such as charter or magnent schools. This dataset also includes information surrounding student demopgraphics, and classifes schools based on their geographic location such as urban, suburban, town, or rual. 

### Link to Dataset: https://catalog.data.gov/dataset/public-school-characteristics-2020-21-6120a

 May need this dataset to further understand poverty levels if different schools:

Title: School Neighborhood Poverty Estimates, 2020-21
Link:https://catalog.data.gov/dataset/school-neighborhood-poverty-estimates-2020-21

Description: The 2020-2021 School Neighborhood Poverty Estimates are based on school locations from the 2020-2021 Common Core of Data (CCD) school file and income data from families with children ages 5 to 17 in the U.S. Census Bureau’s 2017-2021 American Community Survey (ACS) 5-year collection. The ACS is a continuous household survey that collects social, demographic, economic, and housing information from the population in the United States each month. The Census Bureau calculates the income-to-poverty ratio (IPR) based on money income reported for families relative to the poverty thresholds, which are determined based on the family size and structure. Noncash benefits (such as food stamps and housing subsidies) are excluded, as are capital gains and losses. The IPR is the percentage of family income that is above or below the federal poverty level. The IPR indicator ranges from 0 to a top-coded value of 999. A family with income at the poverty threshold has an IPR value of 100. The estimates in this file reflect the IPR for the neighborhoods around schools which may be different from the neighborhood conditions of students enrolled in schools.All information contained in this file is in the public domain. Data users are advised to review NCES program documentation and feature class metadata to understand the limitations and appropriate use of these data.

# Research Topic:


Education funding and resource allocation may contribute to disparities in student experiences across different school enviorments. This research explores how factors such as school funding, poverty levels, and racial demographics influence student-to-teacher ratios and access to educational resources in urban, suburban, and rural schools.

# Research Problem

Despite efforts to address educational inequities, disparities in teacher allocation and resource distribution remain a common trend, particularly in schools that serve predominantly Black and Hispanic students. Schools with higher poverty levels, measured by free and reduced-price lunch eligibility, may still experience larger class sizes and fewer resources compared to wealthier schools. In addition, geographic location—whether a school is in an urban, suburban, or rural area—may further contribute to these disparities. This study hypothesizes that schools with higher Black and Hispanic enrollment and greater poverty rates will have higher student-to-teacher ratios than predominantly White schools, with these disparities being most pronounced in urban areas.

# Reading My Data:

In [87]:
# Checking to make sure my file is in the right place
import os

folder_path = "/Users/remi/Documents/Masters Fall 2024/Public School Charachtertics"

# List of all files in my folder
print(os.listdir(folder_path))

['.DS_Store', 'Public School Test Scores & Demographics.csv', 'Public_School_Characteristics_2022-23.csv', 'Working files ', 'Public_School_Characteristics_2020-21.csv', '7_CCD_Glossary.pages', 'Public School charchtertics KEY.pdf', 'Public_School_Characteristics_2017-18.csv', '~$Public School Test Scores & Demographics.xlsx', 'Public School Test Scores & Demographics.xlsx']

In [88]:
file_path = "/Users/remi/Documents/Masters Fall 2024/Public School Charachtertics/Public_School_Characteristics_2020-21.csv"

df = pd.read_csv(file_path)  # Load CSV

# Viewing The Data

##The Variables:

X, Y – Likely geographic coordinates (longitude, latitude).
OBJECTID – Unique identifier for each record.
NCESSCH – National Center for Education Statistics (NCES) School ID.
SURVYEAR – Survey year (2022-23).
STABR – State abbreviation.
LEAID – Local Education Agency (LEA) ID.
ST_LEAID – State-specific LEA ID.
LEA_NAME – Name of the Local Education Agency (school district).
SCH_NAME – Name of the school.
LSTREET1, LSTREET2 – School address (street lines 1 and 2).
**LCITY – School city.
**LSTATE – School state.
LZIP, LZIP4 – School ZIP code (5-digit and extended 4-digit).
PHONE – School contact number.
**CHARTER_TEXT – Indicates whether the school is a charter school.
VIRTUAL – Indicates if the school operates as a virtual school.
GSLO, GSHI – Lowest and highest grade levels offered at the school.
SCHOOL_LEVEL – Classification of the school (elementary, middle, high).
STATUS – Operational status of the school (e.g., open, closed).
SCHOOL_TYPE_TEXT – School type (e.g., public, magnet, alternative).
SY_STATUS_TEXT – School year status.
ULOCALE – Urban locale classification (e.g., rural, suburban, urban).
NMCNTY – County name.
TOTFRL – Total students eligible for free or reduced lunch.
FRELCH – Number of students receiving free lunch.
REDLCH – Number of students receiving reduced-price lunch.
DIRECTCERT – Number of students directly certified for free meals.
PK, KG, G01-G12, G13, UG, AE – Enrollment counts by grade level.
TOTMENROL – Total male enrollment.
TOTFENROL – Total female enrollment.
TOTAL – Total school enrollment.
MEMBER – Membership count (another enrollment metric).
FTE – Full-time equivalent staff.
STUTERATIO – Student-teacher ratio.
AMALM, AMALF, AM – American Indian/Alaska Native male, female, and total counts.
ASALM, ASALF, AS – Asian male, female, and total counts.
BLALM, BLALF, BL – Black or African American male, female, and total counts.
HPALM, HPALF, HP – Native Hawaiian/Pacific Islander male, female, and total counts.
HIALM, HIALF, HI – Hispanic or Latino male, female, and total counts.
TRALM, TRALF, TR – Two or more races male, female, and total counts.
WHALM, WHALF, WH – White male, female, and total counts.
LATCOD, LONCOD – Latitude and longitude coordinates of the school.

In [113]:
df.head(7)

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,MAGNET_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTMENROL,TOTFENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
0,-86.206200,34.2602,1,10000500870,2020-2021,AL,100005,AL-101,Albertville City,Albertville Middle School,600 E Alabama Ave,NaN,Albertville,AL,35950,,(256)878-2341,No,No,Not Virtual,07,08,Middle,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,332.0,332.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,469.0,439.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,908.0,908.0,42.0,21.62,1.0,1.0,2.0,0.0,4.0,4.0,18.0,15.0,33.0,0.0,0.0,0.0,239.0,230.0,469.0,19.0,10.0,29.0,187.0,184.0,371.0,34.2602,-86.206200
1,-86.204900,34.2622,2,10000500871,2020-2021,AL,100005,AL-101,Albertville City,Albertville High School,402 E McCord Ave,NaN,Albertville,AL,35950,2322,(256)894-5000,No,No,Not Virtual,09,12,High,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,456.0,456.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,421.0,427.0,384.0,374.0,NaN,NaN,NaN,NaN,NaN,1606.0,1606.0,82.0,19.59,1.0,0.0,1.0,4.0,2.0,6.0,33.0,37.0,70.0,0.0,0.0,0.0,414.0,371.0,785.0,17.0,21.0,38.0,368.0,338.0,706.0,34.2622,-86.204900
2,-86.220100,34.2733,3,10000500879,2020-2021,AL,100005,AL-101,Albertville City,Albertville Intermediate School,901 W McKinney Ave,NaN,Albertville,AL,35950,1300,(256)878-7698,No,No,Not Virtual,05,06,Middle,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,330.0,330.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,439.0,452.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,891.0,891.0,41.0,21.73,3.0,1.0,4.0,4.0,3.0,7.0,12.0,12.0,24.0,0.0,1.0,1.0,228.0,253.0,481.0,17.0,12.0,29.0,177.0,168.0,345.0,34.2733,-86.220100
3,-86.221806,34.2527,4,10000500889,2020-2021,AL,100005,AL-101,Albertville City,Albertville Elementary School,145 West End Drive,NaN,Albertville,AL,35950,,(256)894-4822,No,No,Not Virtual,03,04,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,397.0,397.0,0.0,NaN,NaN,NaN,NaN,435.0,473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,908.0,908.0,49.0,18.53,2.0,2.0,4.0,4.0,0.0,4.0,22.0,26.0,48.0,0.0,0.0,0.0,260.0,237.0,497.0,7.0,8.0,15.0,180.0,160.0,340.0,34.2527,-86.221806
4,-86.193300,34.2898,5,10000501616,2020-2021,AL,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,257 Country Club Rd,NaN,Albertville,AL,35951,3927,(256)878-7922,No,No,Not Virtual,PK,KG,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,181.0,181.0,0.0,113.0,443.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,556.0,556.0,30.0,18.53,3.0,1.0,4.0,2.0,0.0,2.0,16.0,17.0,33.0,0.0,0.0,0.0,151.0,137.0,288.0,6.0,7.0,13.0,108.0,108.0,216.0,34.2898,-86.193300
5,-86.221800,34.2533,6,10000502150,2020-2021,AL,100005,AL-101,Albertville City,Albertville Primary School,1100 Horton Rd,NaN,Albertville,AL,35950,2532,(256)878-6611,No,No,Not Virtual,01,02,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,32-Town: Distant,Marshall County,422.0,422.0,0.0,0.0,NaN,480.0,493.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,973.0,973.0,57.5,16.92,1.0,1.0,2.0,0.0,4.0,4.0,24.0,13.0,37.0,0.0,0.0,0.0,290.0,263.0,553.0,14.0,12.0,26.0,194.0,157.0,351.0,34.2533,-86.221800
6,-86.254100,34.5337,7,10000600193,2020-2021,AL,100006,AL-048,Marshall County,Kate Duncan Smith DAR Middle,6077 Main St,NaN,Grant,AL,35747,,(256)728-5950,No,No,Not Virtual,05,08,Middle,1-Yes,1-Yes,1,Regular school,Currently operational,42-Rural: Distant,Marshall County,156.0,127.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,81.0,91.0,101.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373.0,373.0,20.6,18.11,1.0,1.0,2.0,1.0,2.0,3.0,0.0,2.0,2.0,0.0,0.0,0.0,6.0,9.0,15.0,4.0,6.0,10.0,170.0,171.0,341.0,34.5337,-86.254100

In [114]:
df.tail(7)

,X,Y,OBJECTID,NCESSCH,SURVYEAR,STABR,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,LSTREET1,LSTREET2,LCITY,LSTATE,LZIP,LZIP4,PHONE,CHARTER_TEXT,MAGNET_TEXT,VIRTUAL,GSLO,GSHI,SCHOOL_LEVEL,TITLEI,STITLEI,STATUS,SCHOOL_TYPE_TEXT,SY_STATUS_TEXT,ULOCALE,NMCNTY,TOTFRL,FRELCH,REDLCH,PK,KG,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,G13,UG,AE,TOTMENROL,TOTFENROL,TOTAL,MEMBER,FTE,STUTERATIO,AMALM,AMALF,AM,ASALM,ASALF,AS,BLALM,BLALF,BL,HPALM,HPALF,HP,HIALM,HIALF,HI,TRALM,TRALF,TR,WHALM,WHALF,WH,LATCOD,LONCOD
100715,-64.932456,18.352146,100716,780003000020,2020-2021,VI,7800030,VI-001,Saint Thomas - Saint John School District,JOSEPH SIBILLY ELEMENTARY SCHOOL,14 15 16 ESTATE ELIZABETH,NaN,Saint Thomas,VI,802,,(340)774-7001,N,No,Full Virtual,KG,06,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,33-Town: Remote,St. Thomas Island,234.0,234.0,0.0,NaN,25.0,28.0,28.0,34.0,39.0,43.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237.0,237.0,18.0,13.17,NaN,NaN,NaN,3.0,6.0,9.0,110.0,81.0,191.0,NaN,NaN,NaN,8.0,5.0,13.0,2.0,2.0,4.0,7.0,13.0,20.0,18.352146,-64.932456
100716,-64.793916,18.330464,100717,780003000022,2020-2021,VI,7800030,VI-001,Saint Thomas - Saint John School District,JULIUS E SPRAUVE,14 18 ESTATE ENIGHED,NaN,Saint John,VI,831,,(340)776-6336,N,No,Full Virtual,PK,08,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,33-Town: Remote,St. John Island,221.0,221.0,0.0,9.0,14.0,26.0,20.0,22.0,25.0,28.0,35.0,25.0,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,224.0,224.0,23.0,9.74,1.0,NaN,1.0,NaN,NaN,NaN,88.0,81.0,169.0,NaN,NaN,NaN,22.0,28.0,50.0,1.0,NaN,1.0,NaN,3.0,3.0,18.330464,-64.793916
100717,-64.917602,18.341950,100718,780003000024,2020-2021,VI,7800030,VI-001,Saint Thomas - Saint John School District,LOCKHART ELEMENTARY SCHOOL,41 ESTATE THOMAS,NaN,Saint Thomas,VI,802,,(340)775-0820,N,No,Full Virtual,KG,03,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,33-Town: Remote,St. Thomas Island,325.0,325.0,0.0,NaN,71.0,75.0,73.0,109.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,328.0,328.0,26.0,12.62,NaN,NaN,NaN,5.0,2.0,7.0,142.0,112.0,254.0,NaN,NaN,NaN,30.0,29.0,59.0,1.0,1.0,2.0,2.0,4.0,6.0,18.341950,-64.917602
100718,-64.952483,18.338742,100719,780003000026,2020-2021,VI,7800030,VI-001,Saint Thomas - Saint John School District,ULLA F MULLER ELEMENTARY SCHOOL,7B ESTATE CONTANT,NaN,Saint Thomas,VI,802,,(340)774-0059,N,No,Full Virtual,KG,06,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,33-Town: Remote,St. Thomas Island,474.0,474.0,0.0,NaN,50.0,59.0,72.0,73.0,79.0,72.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,477.0,477.0,25.0,19.08,NaN,1.0,1.0,1.0,3.0,4.0,202.0,192.0,394.0,1.0,1.0,2.0,30.0,34.0,64.0,2.0,1.0,3.0,4.0,5.0,9.0,18.338742,-64.952483
100719,-64.899024,18.354782,100720,780003000027,2020-2021,VI,7800030,VI-001,Saint Thomas - Saint John School District,YVONNE BOWSKY ELEMENTARY SCHOOL,15B and 16 ESTATE MANDAHL,NaN,Saint Thomas,VI,802,,(340)775-3220,N,No,Full Virtual,PK,05,Elementary,1-Yes,1-Yes,1,Regular school,Currently operational,33-Town: Remote,St. Thomas Island,394.0,394.0,0.0,17.0,66.0,66.0,61.0,65.0,60.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,397.0,397.0,29.0,13.69,NaN,1.0,1.0,5.0,2.0,7.0,183.0,139.0,322.0,1.0,NaN,1.0,32.0,25.0,57.0,NaN,NaN,NaN,6.0,3.0,9.0,18.354782,-64.899024
100720,-64.945940,18.336658,100721,780003000033,2020-2021,VI,7800030,VI-001,Saint Thomas - Saint John School District,CANCRYN JUNIOR HIGH SCHOOL,1 CROWN BAY,NaN,Saint Thomas,VI,804,,(340)774-4540,N,No,Full Virtual,04,08,Middle,1-Yes,1-Yes,1,Regular school,Currently operational,33-Town: Remote,St. Thomas Island,760.0,760.0,0.0,NaN,NaN,NaN,NaN,NaN,94.0,75.0,120.0,269.0,205.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,763.0,763.0,62.0,12.31,NaN,1.0,1.0,3.0,4.0,7.0,302.0,281.0,583.0,NaN,NaN,NaN,81.0,72.0,153.0,1.0,NaN,1.0,7.0,11.0,18.0,18.336658,-64.945940
100721,-64.890311,18.318230,100722,780003000034,2020-2021,VI,7800030,VI-001,Saint Thomas - Saint John School District,BERTHA BOSCHULTE JUNIOR HIGH,9 1 and 12A BOVONI,NaN,Saint Thomas,VI,802,,(340)775-4222,N,No,Full Virtual,06,08,Middle,1-Yes,1-Yes,1,Regular school,Currently operational,33-Town: Remote,St. Thomas Island,574.0,574.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190.0,191.0,196.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,577.0,577.0,47.0,12.28,NaN,NaN,NaN,4.0,NaN,4.0,269.0,247.0,516.0,NaN,NaN,NaN,25.0,30.0,55.0,NaN,NaN,NaN,1.0,1.0,2.0,18.318230,-64.890311

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100722 entries, 0 to 100721
Data columns (total 79 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   X                 100722 non-null  float64
 1   Y                 100722 non-null  float64
 2   OBJECTID          100722 non-null  int64
 3   NCESSCH           100722 non-null  int64
 4   SURVYEAR          100722 non-null  object
 5   STABR             100722 non-null  object
 6   LEAID             100722 non-null  int64
 7   ST_LEAID          100722 non-null  object
 8   LEA_NAME          100722 non-null  object
 9   SCH_NAME          100722 non-null  object
 10  LSTREET1          100719 non-null  object
 11  LSTREET2          578 non-null     object
 12  LCITY             100722 non-null  object
 13  LSTATE            100722 non-null  object
 14  LZIP              100722 non-null  int64
 15  LZIP4             100722 non-null  object
 16  PHONE             100722 non-null  object
 17  CHARTER_TEXT      100722 non-null  object
 18  MAGNET_TEXT       100722 non-null  object
 19  VIRTUAL           100722 non-null  object
 20  GSLO              100722 non-null  object
 21  GSHI              100722 non-null  object
 22  SCHOOL_LEVEL      100722 non-null  object
 23  TITLEI            100722 non-null  object
 24  STITLEI           100722 non-null  object
 25  STATUS            100722 non-null  int64
 26  SCHOOL_TYPE_TEXT  100722 non-null  object
 27  SY_STATUS_TEXT    100722 non-null  object
 28  ULOCALE           100722 non-null  object
 29  NMCNTY            100722 non-null  object
 30  TOTFRL            76964 non-null   float64
 31  FRELCH            74117 non-null   float64
 32  REDLCH            74117 non-null   float64
 33  PK                31701 non-null   float64
 34  KG                53537 non-null   float64
 35  G01               53941 non-null   float64
 36  G02               53980 non-null   float64
 37  G03               53932 non-null   float64
 38  G04               53722 non-null   float64
 39  G05               52426 non-null   float64
 40  G06               37220 non-null   float64
 41  G07               32150 non-null   float64
 42  G08               32378 non-null   float64
 43  G09               26986 non-null   float64
 44  G10               26847 non-null   float64
 45  G11               26819 non-null   float64
 46  G12               26731 non-null   float64
 47  G13               143 non-null     float64
 48  UG                8153 non-null    float64
 49  AE                182 non-null     float64
 50  TOTMENROL         0 non-null       float64
 51  TOTFENROL         0 non-null       float64
 52  TOTAL             98651 non-null   float64
 53  MEMBER            98651 non-null   float64
 54  FTE               91220 non-null   float64
 55  STUTERATIO        99506 non-null   float64
 56  AMALM             69289 non-null   float64
 57  AMALF             69035 non-null   float64
 58  AM                76349 non-null   float64
 59  ASALM             82938 non-null   float64
 60  ASALF             82625 non-null   float64
 61  AS                86894 non-null   float64
 62  BLALM             89123 non-null   float64
 63  BLALF             88434 non-null   float64
 64  BL                92016 non-null   float64
 65  HPALM             60684 non-null   float64
 66  HPALF             60155 non-null   float64
 67  HP                65816 non-null   float64
 68  HIALM             96036 non-null   float64
 69  HIALF             95815 non-null   float64
 70  HI                97024 non-null   float64
 71  TRALM             91779 non-null   float64
 72  TRALF             91594 non-null   float64
 73  TR                94022 non-null   float64
 74  WHALM             96368 non-null   float64
 75  WHALF             96115 non-null   float64
 76  WH                96938 non-null   float64
 77  LATCOD            100722 non-null  float64
 78  LONCOD            100722 non-null  float64
dtypes: float64(51), int64(5), object(23)
memory usage: 60.7+ MB

In [91]:
df.shape

(100722, 79)

In [92]:

# This is how many datapoints there are in total
101390* 77

7807030

### Preliminary Notes on Dataset

- There is a total of 7807030 datapoints in this dataset
- There are 100722 rows and 79 columns in this dataset

In [93]:
# this is showing me the data type for all of my columns
df.info(show_counts=True, verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100722 entries, 0 to 100721
Data columns (total 79 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   X                 100722 non-null  float64
 1   Y                 100722 non-null  float64
 2   OBJECTID          100722 non-null  int64
 3   NCESSCH           100722 non-null  int64
 4   SURVYEAR          100722 non-null  object
 5   STABR             100722 non-null  object
 6   LEAID             100722 non-null  int64
 7   ST_LEAID          100722 non-null  object
 8   LEA_NAME          100722 non-null  object
 9   SCH_NAME          100722 non-null  object
 10  LSTREET1          100719 non-null  object
 11  LSTREET2          578 non-null     object
 12  LCITY             100722 non-null  object
 13  LSTATE            100722 non-null  object
 14  LZIP              100722 non-null  int64
 15  LZIP4             100722 non-null  object
 16  PHONE             100722 non-null  object
 17  CHARTER_TEXT      100722 non-null  object
 18  MAGNET_TEXT       100722 non-null  object
 19  VIRTUAL           100722 non-null  object
 20  GSLO              100722 non-null  object
 21  GSHI              100722 non-null  object
 22  SCHOOL_LEVEL      100722 non-null  object
 23  TITLEI            100722 non-null  object
 24  STITLEI           100722 non-null  object
 25  STATUS            100722 non-null  int64
 26  SCHOOL_TYPE_TEXT  100722 non-null  object
 27  SY_STATUS_TEXT    100722 non-null  object
 28  ULOCALE           100722 non-null  object
 29  NMCNTY            100722 non-null  object
 30  TOTFRL            76964 non-null   float64
 31  FRELCH            74117 non-null   float64
 32  REDLCH            74117 non-null   float64
 33  PK                31701 non-null   float64
 34  KG                53537 non-null   float64
 35  G01               53941 non-null   float64
 36  G02               53980 non-null   float64
 37  G03               53932 non-null   float64
 38  G04               53722 non-null   float64
 39  G05               52426 non-null   float64
 40  G06               37220 non-null   float64
 41  G07               32150 non-null   float64
 42  G08               32378 non-null   float64
 43  G09               26986 non-null   float64
 44  G10               26847 non-null   float64
 45  G11               26819 non-null   float64
 46  G12               26731 non-null   float64
 47  G13               143 non-null     float64
 48  UG                8153 non-null    float64
 49  AE                182 non-null     float64
 50  TOTMENROL         0 non-null       float64
 51  TOTFENROL         0 non-null       float64
 52  TOTAL             98651 non-null   float64
 53  MEMBER            98651 non-null   float64
 54  FTE               91220 non-null   float64
 55  STUTERATIO        99506 non-null   float64
 56  AMALM             69289 non-null   float64
 57  AMALF             69035 non-null   float64
 58  AM                76349 non-null   float64
 59  ASALM             82938 non-null   float64
 60  ASALF             82625 non-null   float64
 61  AS                86894 non-null   float64
 62  BLALM             89123 non-null   float64
 63  BLALF             88434 non-null   float64
 64  BL                92016 non-null   float64
 65  HPALM             60684 non-null   float64
 66  HPALF             60155 non-null   float64
 67  HP                65816 non-null   float64
 68  HIALM             96036 non-null   float64
 69  HIALF             95815 non-null   float64
 70  HI                97024 non-null   float64
 71  TRALM             91779 non-null   float64
 72  TRALF             91594 non-null   float64
 73  TR                94022 non-null   float64
 74  WHALM             96368 non-null   float64
 75  WHALF             96115 non-null   float64
 76  WH                96938 non-null   float64
 77  LATCOD            100722 non-null  float64
 78  LONCOD            100722 non-null  float64
dtypes: float64(51), int64(5), object(23)
memory usage: 60.7+ MB

### Null values

In [94]:
#Showing me how many values are missing in each column--the .sum() just gives me the count 
df.isnull().sum()

X                        0
Y                        0
OBJECTID                 0
NCESSCH                  0
SURVYEAR                 0
STABR                    0
LEAID                    0
ST_LEAID                 0
LEA_NAME                 0
SCH_NAME                 0
LSTREET1                 3
LSTREET2            100144
LCITY                    0
LSTATE                   0
LZIP                     0
LZIP4                    0
PHONE                    0
CHARTER_TEXT             0
MAGNET_TEXT              0
VIRTUAL                  0
GSLO                     0
GSHI                     0
SCHOOL_LEVEL             0
TITLEI                   0
STITLEI                  0
STATUS                   0
SCHOOL_TYPE_TEXT         0
SY_STATUS_TEXT           0
ULOCALE                  0
NMCNTY                   0
TOTFRL               23758
FRELCH               26605
REDLCH               26605
PK                   69021
KG                   47185
G01                  46781
G02                  46742
G03                  46790
G04                  47000
G05                  48296
G06                  63502
G07                  68572
G08                  68344
G09                  73736
G10                  73875
G11                  73903
G12                  73991
G13                 100579
UG                   92569
AE                  100540
TOTMENROL           100722
TOTFENROL           100722
TOTAL                 2071
MEMBER                2071
FTE                   9502
STUTERATIO            1216
AMALM                31433
AMALF                31687
AM                   24373
ASALM                17784
ASALF                18097
AS                   13828
BLALM                11599
BLALF                12288
BL                    8706
HPALM                40038
HPALF                40567
HP                   34906
HIALM                 4686
HIALF                 4907
HI                    3698
TRALM                 8943
TRALF                 9128
TR                    6700
WHALM                 4354
WHALF                 4607
WH                    3784
LATCOD                   0
LONCOD                   0
dtype: int64

In [95]:
print(df['SCHOOL_TYPE_TEXT'].value_counts())

SCHOOL_TYPE_TEXT
Regular school                  91595
Alternative Education School     5588
Special education school         1946
Career and Technical School      1593
Name: count, dtype: int64

In [96]:
print(df['SY_STATUS_TEXT'].value_counts())

# I need to get rid of

SY_STATUS_TEXT
Currently operational                                98717
New school                                             902
School temporarily closed                              521
School to be operational within two years              438
School was operational but not reported last year       73
School has changed agency                               40
School has reopened                                     31
Name: count, dtype: int64

In [97]:
def missing(dataframe):
    print('Percentage of missing values in the dataset:\n',
          round((dataframe.isnull().sum()*100/len(dataframe)),2).sort_values(ascending=False))

In [98]:
missing(df)

Percentage of missing values in the dataset:
 TOTFENROL           100.00
TOTMENROL           100.00
G13                  99.86
AE                   99.82
LSTREET2             99.43
UG                   91.91
G12                  73.46
G11                  73.37
G10                  73.35
G09                  73.21
PK                   68.53
G07                  68.08
G08                  67.85
G06                  63.05
G05                  47.95
KG                   46.85
G04                  46.66
G03                  46.45
G01                  46.45
G02                  46.41
HPALF                40.28
HPALM                39.75
HP                   34.66
AMALF                31.46
AMALM                31.21
FRELCH               26.41
REDLCH               26.41
AM                   24.20
TOTFRL               23.59
ASALF                17.97
ASALM                17.66
AS                   13.73
BLALF                12.20
BLALM                11.52
FTE                   9.43
TRALF                 9.06
TRALM                 8.88
BL                    8.64
TR                    6.65
HIALF                 4.87
HIALM                 4.65
WHALF                 4.57
WHALM                 4.32
WH                    3.76
HI                    3.67
MEMBER                2.06
TOTAL                 2.06
STUTERATIO            1.21
LSTATE                0.00
LZIP                  0.00
LSTREET1              0.00
LEA_NAME              0.00
SCH_NAME              0.00
LCITY                 0.00
LEAID                 0.00
OBJECTID              0.00
STABR                 0.00
SURVYEAR              0.00
NCESSCH               0.00
X                     0.00
Y                     0.00
ST_LEAID              0.00
NMCNTY                0.00
SCHOOL_LEVEL          0.00
LZIP4                 0.00
CHARTER_TEXT          0.00
PHONE                 0.00
VIRTUAL               0.00
GSLO                  0.00
GSHI                  0.00
MAGNET_TEXT           0.00
SCHOOL_TYPE_TEXT      0.00
TITLEI                0.00
STATUS                0.00
STITLEI               0.00
ULOCALE               0.00
SY_STATUS_TEXT        0.00
LATCOD                0.00
LONCOD                0.00
dtype: float64

this(^) is important becuase you need to see how much missing data there is bc if its more than like 50% of missing data you will be getting rid of too much to get rid of it. you must find a new way to handle the missing values.

I see that the many of spaces where thera re are missing values is due to the grades of those students are not repsenented in the school grade limitattions. I will not be keeping those columns becuase I will be seeing the grade levels through the "school level" column.

how many missinf values are there?
are these concentrated in specfic rows or coulmns? How does it affect the analysis

In [99]:
df['STUTERATIO'].describe()

count    99506.000000
mean        14.370399
std         60.800319
min         -2.000000
25%         11.000000
50%         14.030000
75%         17.100000
max      17900.000000
Name: STUTERATIO, dtype: float64

## Cleaning the Data

getting rid of the columns I dont need

In [100]:
columns_needed = [
    "NCESSCH", "LEAID", "ST_LEAID", "LEA_NAME", "SCH_NAME", "STABR", "LATCOD", "LONCOD","NMCNTY", "LCITY", "LSTATE", "LZIP",  # ID & Location
    
    "ULOCALE", "STATUS", "TOTFRL", "TOTAL", "STUTERATIO", "CHARTER_TEXT", "VIRTUAL", "FTE",  # School characteristics
   
    "SCHOOL_TYPE_TEXT", "SCHOOL_LEVEL", "CHARTER_TEXT", "VIRTUAL", "SY_STATUS_TEXT",  # School type 
    
    "AM", "AS", "BL", "HI", "WH", "HP", "TR"  # Racial categories
]

ps_data= df[columns_needed]

ps_data.head()

,NCESSCH,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,STABR,LATCOD,LONCOD,NMCNTY,LCITY,LSTATE,LZIP,ULOCALE,STATUS,TOTFRL,TOTAL,STUTERATIO,CHARTER_TEXT,VIRTUAL,FTE,SCHOOL_TYPE_TEXT,SCHOOL_LEVEL,CHARTER_TEXT,VIRTUAL,SY_STATUS_TEXT,AM,AS,BL,HI,WH,HP,TR
0,10000500870,100005,AL-101,Albertville City,Albertville Middle School,AL,34.2602,-86.206200,Marshall County,Albertville,AL,35950,32-Town: Distant,1,332.0,908.0,21.62,No,Not Virtual,42.0,Regular school,Middle,No,Not Virtual,Currently operational,2.0,4.0,33.0,469.0,371.0,0.0,29.0
1,10000500871,100005,AL-101,Albertville City,Albertville High School,AL,34.2622,-86.204900,Marshall County,Albertville,AL,35950,32-Town: Distant,1,456.0,1606.0,19.59,No,Not Virtual,82.0,Regular school,High,No,Not Virtual,Currently operational,1.0,6.0,70.0,785.0,706.0,0.0,38.0
2,10000500879,100005,AL-101,Albertville City,Albertville Intermediate School,AL,34.2733,-86.220100,Marshall County,Albertville,AL,35950,32-Town: Distant,1,330.0,891.0,21.73,No,Not Virtual,41.0,Regular school,Middle,No,Not Virtual,Currently operational,4.0,7.0,24.0,481.0,345.0,1.0,29.0
3,10000500889,100005,AL-101,Albertville City,Albertville Elementary School,AL,34.2527,-86.221806,Marshall County,Albertville,AL,35950,32-Town: Distant,1,397.0,908.0,18.53,No,Not Virtual,49.0,Regular school,Elementary,No,Not Virtual,Currently operational,4.0,4.0,48.0,497.0,340.0,0.0,15.0
4,10000501616,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,AL,34.2898,-86.193300,Marshall County,Albertville,AL,35951,32-Town: Distant,1,181.0,556.0,18.53,No,Not Virtual,30.0,Regular school,Elementary,No,Not Virtual,Currently operational,4.0,2.0,33.0,288.0,216.0,0.0,13.0

In [101]:
# Im trying to see what values are not 1-- meaning school that are not operational
# I will get rid of any vaues that are not "1"

ps_data[ps_data['STATUS'] != 1].head(20)

,NCESSCH,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,STABR,LATCOD,LONCOD,NMCNTY,LCITY,LSTATE,LZIP,ULOCALE,STATUS,TOTFRL,TOTAL,STUTERATIO,CHARTER_TEXT,VIRTUAL,FTE,SCHOOL_TYPE_TEXT,SCHOOL_LEVEL,CHARTER_TEXT,VIRTUAL,SY_STATUS_TEXT,AM,AS,BL,HI,WH,HP,TR
154,10018802514,100188,AL-121,Chickasaw City,Alabama Destinations Career Academy,AL,30.757103,-88.078474,Mobile County,Chickasaw,AL,36611,21-Suburb: Large,7,NaN,NaN,-2.00,No,N,NaN,Regular school,Not Reported,No,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,10019502498,100195,AL-186,Pike Road City,Pike Road Jr High School,AL,32.355003,-86.102682,Montgomery County,Pike Road,AL,36064,21-Suburb: Large,3,144.0,587.0,27.95,No,Not Virtual,21.000000,Regular school,Middle,No,Not Virtual,New school,0.0,27.0,197.0,58.0,282.0,0.0,23.0
182,10020302516,100203,AL-802,LEAD Academy,LEAD Academy Building B,AL,32.341405,-86.223619,Montgomery County,Montgomery,AL,36116,12-City: Mid-size,7,NaN,NaN,-2.00,Yes,N,NaN,Regular school,Not Reported,Yes,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,10020402476,100204,AL-805,i3 Academy,i3 Academy,AL,33.537508,-86.763339,Jefferson County,Birmingham,AL,35212,12-City: Mid-size,3,254.0,417.0,26.06,Yes,Not Virtual,16.000000,Regular school,Elementary,Yes,Not Virtual,New school,0.0,2.0,371.0,13.0,29.0,0.0,2.0
184,10020402510,100204,AL-805,i3 Academy,i3 Academy Phase 2,AL,33.564945,-86.726303,Jefferson County,Birmingham,AL,35206,12-City: Mid-size,7,NaN,NaN,-2.00,Yes,N,NaN,Regular school,Not Reported,Yes,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,10020702502,100207,AL-807,LIFE Academy,LIFE Academy at Historic St Jude Educational I...,AL,32.352192,-86.328259,Montgomery County,Montgomery,AL,36108,12-City: Mid-size,7,NaN,NaN,-2.00,Yes,N,NaN,Regular school,Not Reported,Yes,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,10020802503,100208,AL-808,Breakthrough Charter School,Breakthrough Charter School,AL,32.607571,-87.335131,Perry County,Marion,AL,36756,43-Rural: Remote,7,NaN,NaN,-2.00,Yes,N,NaN,Regular school,Not Reported,Yes,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,10020902504,100209,AL-809,Ivy Classical Academy,Ivy Classical Academy,AL,32.459712,-86.470155,Autauga County,Prattville,AL,36067,21-Suburb: Large,7,NaN,NaN,-2.00,Yes,N,NaN,Regular school,Not Reported,Yes,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,10021102505,100211,AL-810,Magic City Acceptance Academy,Magic City Acceptance Academy,AL,33.516759,-86.784309,Jefferson County,Birmingham,AL,35233,12-City: Mid-size,7,NaN,NaN,-2.00,Yes,N,NaN,Regular school,Not Reported,Yes,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,10027002492,100270,AL-002,Baldwin County,Belforest Elementary School,AL,30.603160,-87.829107,Baldwin County,Daphne,AL,36526,41-Rural: Fringe,3,207.0,745.0,13.56,No,Not Virtual,54.939999,Regular school,Elementary,No,Not Virtual,New school,2.0,7.0,49.0,39.0,606.0,0.0,42.0
396,10060002515,100600,AL-009,Chambers County,Inspire Virtual Academy,AL,33.017341,-85.343690,Chambers County,Five Points,AL,36855,42-Rural: Distant,7,NaN,NaN,-2.00,No,N,NaN,Regular school,Not Reported,No,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
523,10108002497,101080,AL-126,Daleville City,Daleville Middle School,AL,31.315377,-85.707641,Dale County,Dalevile,AL,36322,32-Town: Distant,3,NaN,350.0,21.88,No,Not Virtual,16.000000,Regular school,Middle,No,Not Virtual,New school,2.0,4.0,100.0,74.0,147.0,2.0,21.0
592,10123002512,101230,AL-130,Dothan City,Dothan City Virtual School,AL,31.194437,-85.353124,Houston County,Dothan,AL,36301,13-City: Small,7,NaN,NaN,-2.00,No,N,NaN,Regular school,Not Reported,No,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
593,10123002513,101230,AL-130,Dothan City,Carver 9th Grade Academy,AL,31.194437,-85.353124,Houston County,Dothan,AL,36301,13-City: Small,7,NaN,NaN,-2.00,No,N,NaN,Regular school,Not Reported,No,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
612,10129002494,101290,AL-026,Elmore County,EDGE Virtual School,AL,32.546314,-86.215789,Elmore County,Weumpka,AL,36092,31-Town: Fringe,3,135.0,297.0,-1.00,No,Full Virtual,NaN,Regular school,Other,No,Full Virtual,New school,0.0,6.0,79.0,5.0,205.0,0.0,2.0
690,10156002518,101560,AL-143,Fort Payne City,Little Ridge Intermediate School,AL,34.487696,-85.674157,DeKalb County,Fort Payne,AL,35967,32-Town: Distant,7,NaN,NaN,-2.00,No,N,NaN,Regular school,Not Reported,No,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
778,10177002506,101770,AL-035,Houston County,Houston County Virtual Academy,AL,31.225600,-85.633300,Houston County,Newton,AL,36352,42-Rural: Distant,7,NaN,NaN,-2.00,No,N,NaN,Regular school,Not Reported,No,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
779,10177002507,101770,AL-035,Houston County,Wicksburg Elementary School,AL,31.225600,-85.633300,Houston County,Newton,AL,36352,42-Rural: Distant,7,NaN,NaN,-2.00,No,N,NaN,Regular school,Not Reported,No,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
780,10177002508,101770,AL-035,Houston County,Cottonwood Elementary School,AL,31.056759,-85.301665,Houston County,Cottonwood,AL,36320,42-Rural: Distant,7,NaN,NaN,-2.00,No,N,NaN,Regular school,Not Reported,No,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
781,10177002511,101770,AL-035,Houston County,Ashford Middle School,AL,31.183743,-85.232220,Houston County,Ashford,AL,36312,41-Rural: Fringe,7,NaN,NaN,-2.00,No,N,NaN,Regular school,Not Reported,No,N,School to be operational within two years,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
# get rid of rows that contain -1. It was indicated that -1 in this dataset means the data is missing 


#seeing the -1 values
ps_data_missing = ps_data[(ps_data == -1).any(axis=1)]

ps_data_missing.head()

,NCESSCH,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,STABR,LATCOD,LONCOD,NMCNTY,LCITY,LSTATE,LZIP,ULOCALE,STATUS,TOTFRL,TOTAL,STUTERATIO,CHARTER_TEXT,VIRTUAL,FTE,SCHOOL_TYPE_TEXT,SCHOOL_LEVEL,CHARTER_TEXT,VIRTUAL,SY_STATUS_TEXT,AM,AS,BL,HI,WH,HP,TR
8,10000600876,100006,AL-048,Marshall County,Claysville School,AL,34.406900,-86.270400,Marshall County,Guntersville,AL,35976,41-Rural: Fringe,1,NaN,5.0,-1.0,No,Not Virtual,NaN,Regular school,Prekindergarten,No,Not Virtual,Currently operational,0.0,0.0,0.0,2.0,3.0,0.0,0.0
14,10000600986,100006,AL-048,Marshall County,Marshall Alternative School,AL,34.406900,-86.270400,Marshall County,Guntersville,AL,35976,41-Rural: Fringe,1,NaN,NaN,-1.0,No,Not Virtual,NaN,Alternative Education School,Other,No,Not Virtual,Currently operational,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10000600987,100006,AL-048,Marshall County,Marshall Technical School,AL,34.305400,-86.285900,Marshall County,Guntersville,AL,35976,41-Rural: Fringe,1,NaN,NaN,-1.0,No,Not Virtual,NaN,Career and Technical School,High,No,Not Virtual,Currently operational,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,10000702359,100007,AL-158,Hoover City,Crossroads School,AL,33.337604,-86.840932,Jefferson County,Hoover,AL,35244,13-City: Small,1,NaN,NaN,-1.0,No,Not Virtual,NaN,Alternative Education School,High,No,Not Virtual,Currently operational,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,10000702487,100007,AL-158,Hoover City,Riverchase Career Connection Center,AL,33.346680,-86.809690,Shelby County,Hoover,AL,35244,13-City: Small,1,NaN,NaN,-1.0,No,Not Virtual,NaN,Career and Technical School,High,No,Not Virtual,Currently operational,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#this code below will update my dataset to not include the rows with -1 values
ps_data_cleaned= ps_data[~(ps_data == -1).any(axis=1)]

ps_data_cleaned.head(50)

# I printed so many rows so I can see any patterns

,NCESSCH,LEAID,ST_LEAID,LEA_NAME,SCH_NAME,STABR,LATCOD,LONCOD,NMCNTY,LCITY,LSTATE,LZIP,ULOCALE,STATUS,TOTFRL,TOTAL,STUTERATIO,CHARTER_TEXT,VIRTUAL,FTE,SCHOOL_TYPE_TEXT,SCHOOL_LEVEL,CHARTER_TEXT,VIRTUAL,SY_STATUS_TEXT,AM,AS,BL,HI,WH,HP,TR
0,10000500870,100005,AL-101,Albertville City,Albertville Middle School,AL,34.260200,-86.206200,Marshall County,Albertville,AL,35950,32-Town: Distant,1,332.0,908.0,21.62,No,Not Virtual,42.000000,Regular school,Middle,No,Not Virtual,Currently operational,2.0,4.0,33.0,469.0,371.0,0.0,29.0
1,10000500871,100005,AL-101,Albertville City,Albertville High School,AL,34.262200,-86.204900,Marshall County,Albertville,AL,35950,32-Town: Distant,1,456.0,1606.0,19.59,No,Not Virtual,82.000000,Regular school,High,No,Not Virtual,Currently operational,1.0,6.0,70.0,785.0,706.0,0.0,38.0
2,10000500879,100005,AL-101,Albertville City,Albertville Intermediate School,AL,34.273300,-86.220100,Marshall County,Albertville,AL,35950,32-Town: Distant,1,330.0,891.0,21.73,No,Not Virtual,41.000000,Regular school,Middle,No,Not Virtual,Currently operational,4.0,7.0,24.0,481.0,345.0,1.0,29.0
3,10000500889,100005,AL-101,Albertville City,Albertville Elementary School,AL,34.252700,-86.221806,Marshall County,Albertville,AL,35950,32-Town: Distant,1,397.0,908.0,18.53,No,Not Virtual,49.000000,Regular school,Elementary,No,Not Virtual,Currently operational,4.0,4.0,48.0,497.0,340.0,0.0,15.0
4,10000501616,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,AL,34.289800,-86.193300,Marshall County,Albertville,AL,35951,32-Town: Distant,1,181.0,556.0,18.53,No,Not Virtual,30.000000,Regular school,Elementary,No,Not Virtual,Currently operational,4.0,2.0,33.0,288.0,216.0,0.0,13.0
5,10000502150,100005,AL-101,Albertville City,Albertville Primary School,AL,34.253300,-86.221800,Marshall County,Albertville,AL,35950,32-Town: Distant,1,422.0,973.0,16.92,No,Not Virtual,57.500000,Regular school,Elementary,No,Not Virtual,Currently operational,2.0,4.0,37.0,553.0,351.0,0.0,26.0
6,10000600193,100006,AL-048,Marshall County,Kate Duncan Smith DAR Middle,AL,34.533700,-86.254100,Marshall County,Grant,AL,35747,42-Rural: Distant,1,156.0,373.0,18.11,No,Not Virtual,20.600000,Regular school,Middle,No,Not Virtual,Currently operational,2.0,3.0,2.0,15.0,341.0,0.0,10.0
7,10000600872,100006,AL-048,Marshall County,Asbury High School,AL,34.362500,-86.142000,Marshall County,Albertville,AL,35951,42-Rural: Distant,1,524.0,628.0,18.98,No,Not Virtual,33.080002,Regular school,High,No,Not Virtual,Currently operational,1.0,2.0,9.0,285.0,328.0,0.0,3.0
9,10000600877,100006,AL-048,Marshall County,Douglas Elementary School,AL,34.176234,-86.321259,Marshall County,Douglas,AL,35964,42-Rural: Distant,1,243.0,456.0,23.86,No,Not Virtual,19.110001,Regular school,Elementary,No,Not Virtual,Currently operational,1.0,1.0,3.0,204.0,242.0,1.0,4.0
10,10000600878,100006,AL-048,Marshall County,Douglas High School,AL,34.178658,-86.319462,Marshall County,Douglas,AL,35964,42-Rural: Distant,1,NaN,646.0,21.40,No,Not Virtual,30.180000,Regular school,High,No,Not Virtual,Currently operational,2.0,0.0,4.0,255.0,380.0,0.0,5.0
11,10000600880,100006,AL-048,Marshall County,Brindlee Mountain Elementary School,AL,34.344500,-86.442100,Marshall County,Arab,AL,35016,41-Rural: Fringe,1,112.0,229.0,22.54,No,Not Virtual,10.160000,Regular school,Elementary,No,Not Virtual,Currently operational,2.0,4.0,2.0,17.0,202.0,1.0,1.0
12,10000600883,100006,AL-048,Marshall County,Kate D Smith DAR High School,AL,34.534948,-86.253261,Marshall County,Grant,AL,35747,42-Rural: Distant,1,146.0,434.0,17.88,No,Not Virtual,24.270000,Regular school,High,No,Not Virtual,Currently operational,0.0,3.0,5.0,14.0,405.0,0.0,7.0
13,10000600887,100006,AL-048,Marshall County,Brindlee Mountain Primary School,AL,34.400054,-86.446830,Marshall County,Guntersville,AL,35976,41-Rural: Fringe,1,130.0,225.0,14.87,No,Not Virtual,15.130000,Regular school,Elementary,No,Not Virtual,Currently operational,0.0,3.0,3.0,6.0,212.0,0.0,1.0
16,10000601413,100006,AL-048,Marshall County,Robert D Sloman Primary,AL,34.176774,-86.322507,Marshall County,Douglas,AL,35964,42-Rural: Distant,1,270.0,523.0,19.17,No,Not Virtual,27.280001,Regular school,Elementary,No,Not Virtual,Currently operational,5.0,1.0,7.0,180.0,330.0,0.0,0.0
17,10000601585,100006,AL-048,Marshall County,Brindlee Mountain High School,AL,34.376400,-86.421900,Marshall County,Guntersville,AL,35976,41-Rural: Fringe,1,292.0,575.0,19.07,No,Not Virtual,30.150000,Regular school,High,No,Not Virtual,Currently operational,1.0,4.0,11.0,38.0,517.0,1.0,3.0
18,10000601685,100006,AL-048,Marshall County,Kate D Smith DAR Elementary School,AL,34.534300,-86.254200,Marshall County,Grant,AL,35747,42-Rural: Distant,1,237.0,560.0,16.97,No,Not Virtual,33.000000,Regular school,Elementary,No,Not Virtual,Currently operational,8.0,4.0,6.0,23.0,510.0,0.0,9.0
19,10000601812,100006,AL-048,Marshall County,Douglas Middle School,AL,34.177536,-86.320895,Marshall County,Douglas,AL,35964,42-Rural: Distant,1,272.0,510.0,21.52,No,Not Virtual,23.700001,Regular school,Middle,No,Not Virtual,Currently operational,2.0,1.0,4.0,236.0,262.0,2.0,3.0
20,10000602209,100006,AL-048,Marshall County,Asbury Elementary School,AL,34.362734,-86.141422,Marshall County,Albertville,AL,35951,42-Rural: Distant,1,506.0,594.0,18.86,No,Not Virtual,31.500000,Regular school,Elementary,No,Not Virtual,Currently operational,5.0,3.0,9.0,247.0,326.0,1.0,3.0
21,10000700091,100007,AL-158,Hoover City,Trace Crossings Elementary School,AL,33.340900,-86.844700,Jefferson County,Hoover,AL,35244,13-City: Small,1,207.0,676.0,12.40,No,Not Virtual,54.500000,Regular school,Elementary,No,Not Virtual,Currently operational,3.0,66.0,213.0,65.0,267.0,0.0,62.0
22,10000700248,100007,AL-158,Hoover City,Greystone Elementary School,AL,33.413000,-86.658500,Shelby County,Hoover,AL,35242,13-City: Small,1,38.0,463.0,13.34,No,Not Virtual,34.700001,Regular school,Elementary,No,Not Virtual,Currently operational,1.0,59.0,45.0,9.0,327.0,0.0,22.0
23,10000700251,100007,AL-158,Hoover City,Hoover High School,AL,33.344400,-86.837700,Jefferson County,Hoover,AL,35244,13-City: Small,1,670.0,2766.0,13.52,No,Not Virtual,204.630005,Regular school,High,No,Not Virtual,Currently operational,4.0,185.0,757.0,208.0,1471.0,0.0,141.0
24,10000700337,100007,AL-158,Hoover City,Berry Middle School,AL,33.395600,-86.732200,Shelby County,Hoover,AL,35242,13-City: Small,1,304.0,1142.0,14.74,No,Not Virtual,77.500000,Regular school,Middle,No,Not Virtual,Currently operational,0.0,66.0,254.0,116.0,647.0,0.0,59.0
25,10000700342,100007,AL-158,Hoover City,South Shades Crest Elementary School,AL,33.337500,-86.878400,Jefferson County,Hoover,AL,35244,13-City: Small,1,39.0,443.0,13.11,No,Not Virtual,33.799999,Regular school,Elementary,No,Not Virtual,Currently operational,0.0,41.0,101.0,29.0,240.0,0.0,32.0
26,10000701422,100007,AL-158,Hoover City,Robert F Bumpus Middle School,AL,33.330923,-86.854796,Shelby County,Hoover,AL,35244,41-Rural: Fringe,1,140.0,1122.0,15.70,No,Not Virtual,71.449997,Regular school,Middle,No,Not Virtual,Currently operational,1.0,120.0,274.0,57.0,610.0,0.0,60.0
27,10000701456,100007,AL-158,Hoover City,Spain Park High School,AL,33.392700,-86.728800,Shelby County,Hoover,AL,35242,13-City: Small,1,330.0,1634.0,14.94,No,Not Virtual,109.379997,Regular school,High,No,Not Virtual,Currently operational,0.0,99.0,329.0,125.0,993.0,1.0,87.0
28,10000701483,100007,AL-158,Hoover City,Deer Valley Elementary School,AL,33.363900,-86.867400,Jefferson County,Hoover,AL,35226,13-City: Small,1,65.0,766.0,15.14,No,Not Virtual,50.599998,Regular school,Elementary,No,Not Virtual,Currently operational,0.0,91.0,121.0,25.0,486.0,0.0,43.0
29,10000701738,100007,AL-158,Hoover City,Bluff Park Elementary School,AL,33.409600,-86.853800,Jefferson County,Hoover,AL,35226,13-City: Small,1,120.0,597.0,14.93,No,Not Virtual,40.000000,Regular school,Elementary,No,Not Virtual,Currently operational,0.0,8.0,81.0,25.0,462.0,0.0,21.0
30,10000701739,100007,AL-158,Hoover City,Green Valley Elementary School,AL,33.395700,-86.808800,Jefferson County,Hoover,AL,35226,13-City: Small,1,204.0,411.0,11.74,No,Not Virtual,35.000000,Regular school,Elementary,No,Not Virtual,Currently operational,1.0,7.0,146.0,75.0,156.0,0.0,26.0
31,10000701740,100007,AL-158,Hoover City,Gwin Elementary School,AL,33.388200,-86.831200,Jefferson County,Hoover,AL,35226,13-City: Small,1,217.0,559.0,12.51,No,Not Virtual,44.700001,Regular school,Elementary,No,Not Virtual,Currently operational,1.0,18.0,157.0,81.0,262.0,3.0,37.0
32,10000701741,100007,AL-158,Hoover City,Ira F Simmons Middle School,AL,33.387900,-86.833700,Jefferson County,Hoover,AL,35226,13-City: Small,1,412.0,1060.0,15.05,No,Not Virtual,70.449997,Regular school,Middle,No,Not Virtual,Currently operational,1.0,41.0,295.0,149.0,508.0,1.0,65.0
33,10000701742,100007,AL-158,Hoover City,Rocky Ridge Elementary School,AL,33.409100,-86.766800,Jefferson County,Hoover,AL,35243,13-City: Small,1,188.0,593.0,12.62,No,Not Virtual,47.000000,Regular school,Elementary,No,Not Virtual,Currently operational,0.0,25.0,109.0,90.0,335.0,0.0,34.0
34,10000701743,100007,AL-158,Hoover City,Shades Mountain Elementary School,AL,33.426608,-86.824614,Jefferson County,Hoover,AL,35226,13-City: Small,1,98.0,303.0,11.79,No,Not Virtual,25.700001,Regular school,Elementary,No,Not Virtual,Currently operational,0.0,18.0,58.0,26.0,172.0,0.0,29.0
35,10000702091,100007,AL-158,Hoover City,Riverchase Elementary School,AL,33.359600,-86.812900,Shelby County,Hoover,AL,35244,13-City: Small,1,184.0,667.0,13.34,No,Not Virtual,50.000000,Regular school,Elementary,No,Not Virtual,Currently operational,1.0,85.0,156.0,66.0,326.0,0.0,33.0
36,10000702186,100007,AL-158,Hoover City,Brocks Gap Intermediate School,AL,33.344122,-86.889190,Jefferson County,Hoover,AL,35244,13-City: Small,1,61.0,438.0,14.36,No,Not Virtual,30.500000,Regular school,Elementary,No,Not Virtual,Currently operational,0.0,47.0,103.0,19.0,234.0,0.0,35.0
39,10000800303,100008,AL-169,Madison City,Horizon Elementary School,AL,34.705800,-86.713700,Madison County,Madison,AL,35758,21-Suburb: Large,1,75.0,597.0,14.93,No,Not Virtual,40.000000,Regular school,Elementary,No,Not Virtual,Currently operational,6.0,43.0,90.0,39.0,377.0,1.0,41.0
40,10000800495,100008,AL-169,Madison City,Discovery Middle School,AL,34.740800,-86.742700,Madison County,Madison,AL,35758,21-Suburb: Large,1,135.0,1312.0,17.23,No,Not Virtual,76.160004,Regular school,Middle,No,Not Virtual,Currently operational,12.0,109.0,298.0,95.0,726.0,0.0,72.0
41,10000800831,100008,AL-169,Madison City,Bob Jones High School,AL,34.719200,-86.742500,Madison County,Madison,AL,35758,21-Suburb: Large,1,186.0,1880.0,17.65,No,Not Virtual,106.500000,Regular school,High,No,Not Virtual,Currently operational,9.0,144.0,366.0,133.0,1148.0,6.0,74.0
42,10000800839,100008,AL-169,Madison City,Madison Elementary School,AL,34.697500,-86.750500,Madison County,Madison,AL,35758,21-Suburb: Large,1,87.0,507.0,14.91,No,Not Virtual,34.000000,Regular school,Elementary,No,Not Virtual,Currently operational,1.0,39.0,108.0,38.0,280.0,1.0,40.0
43,10000800851,100008,AL-169,Madison City,West Madison Elementary School,AL,34.721200,-86.751200,Madison County,Madison,AL,35758,21-Suburb: Large,1,62.0,541.0,15.46,No,Not Virtual,35.000000,Regular school,Elementary,No,Not Virtual,Currently operational,1.0,33.0,87.0,42.0,332.0,3.0,43.0
44,10000801423,100008,AL-169,Madison City,Heritage Elementary School,AL,34.721100,-86.783200,Madison County,Madison,AL,35758,21-Suburb: Large,1,78.0,842.0,16.10,No,Not Virtual,52.299999,Regular school,Elementary,No,Not Virtual,Currently operational,3.0,101.0,155.0,69.0,465.0,4.0,45.0
45,10000801485,100008,AL-169,Madison City,Rainbow Elementary School,AL,34.751200,-86.733100,Madison County,Madison,AL,35758,21-Suburb: Large,1,54.0,872.0,16.06,No,Not Virtual,54.299999,Regular school,Elementary,No,Not Virtual,Currently operational,1.0,64.0,138.0,67.0,546.0,1.0,55.0
46,10000801798,100008,AL-169,Madison City,Liberty Middle School,AL,34.733700,-86.779200,Madison County,Madison,AL,35758,21-Suburb: Large,1,150.0,1315.0,17.01,No,Not Virtual,77.330002,Regular school,Middle,No,Not Virtual,Currently operational,9.0,138.0,240.0,104.0,780.0,2.0,42.0
47,10000802097,100008,AL-169,Madison City,Columbia Elementary School,AL,34.734300,-86.766000,Madison County,Madison,AL,35758,21-Suburb: Large,1,110.0,844.0,16.88,No,Not Virtual,50.000000,Regular school,Elementary,No,Not Virtual,Currently operational,3.0,104.0,182.0,61.0,435.0,0.0,59.0
48,10000802133,100008,AL-169,Madison City,Mill Creek Elementary School,AL,34.701186,-86.772013,Madison County,Madison,AL,35758,21-Suburb: Large,1,138.0,942.0,13.89,No,Not Virtual,67.800003,Regular school,Elementary,No,Not Virtual,Currently operational,5.0,93.0,176.0,77.0,525.0,0.0,66.0
49,10000802198,100008,AL-169,Madison City,James Clemens High School,AL,34.705886,-86.791802,Limestone County,Madison,AL,35756,21-Suburb: Large,1,195.0,2152.0,18.29,No,Not Virtual,117.650002,Regular school,High,No,Not Virtual,Currently operational,15.0,207.0,437.0,135.0,1282.0,6.0,70.0
55,10001102094,100011,AL-167,Leeds City,Leeds Elementary School,AL,33.545200,-86.548100,Jefferson County,Leeds,AL,35094,21-Suburb: Large,1,196.0,437.0,20.33,No,Not Virtual,21.500000,Regular school,Elementary,No,Not Virtual,Currently operational,1.0,1.0,102.0,70.0,261.0,0.0,2.0
56,10001102095,100011,AL-167,Leeds City,Leeds Middle School,AL,33.549360,-86.536894,Jefferson County,Leeds,AL,35094,21-Suburb: Large,1,197.0,478.0,20.78,No,Not Virtual,23.000000,Regular school,Middle,No,Not Virtual,Currently operational,2.0,1.0,121.0,81.0,266.0,0.0,7.0
57,10001102096,100011,AL-167,Leeds City,Leeds High School,AL,33.547574,-86.574182,Jefferson County,Leeds,AL,35094,21-Suburb: Large,1,195.0,567.0,18.59,No,Not Virtual,30.500000,Regular school,High,No,Not Virtual,Currently operational,0.0,6.0,128.0,81.0,341.0,0.0,11.0
58,10001102430,100011,AL-167,Leeds City,Leeds Primary School,AL,33.545099,-86.560964,Jefferson County,Leeds,AL,35094,21-Suburb: Large,1,204.0,615.0,20.50,No,Not Virtual,30.000000,Regular school,Elementary,No,Not Virtual,Currently operational,1.0,8.0,153.0,84.0,352.0,1.0,16.0
59,10001200123,100012,AL-115,Boaz City,Boaz Middle School,AL,34.212200,-86.157900,Marshall County,Boaz,AL,35957,32-Town: Distant,1,319.0,540.0,17.79,No,Not Virtual,30.360001,Regular school,Middle,No,Not Virtual,Currently operational,1.0,7.0,14.0,212.0,293.0,6.0,7.0

In [104]:
# Renaming my columns so I know what they are:
ps_data = ps_data_cleaned.rename(columns={
    "NCESSCH": "school_id",
    "LEAID": "district_id",
    "LEA_NAME": "district_name",
    "SCH_NAME": "school_name",
    "STABR": "state",
    
    "ULOCALE": "urban_locale",
    "SY_STATUS_TEXT": "school_status",
    "TOTFRL": "free_reduced_lunch",
    "TOTAL": "total_students",
    "STUTERATIO": "student_teacher_ratio",
    "CHARTER_TEXT": "charter_status",
    "VIRTUAL": "virtual_status",
    
    "SCHOOL_TYPE_TEXT": "school_type",
    "SCHOOL_LEVEL": "school_level",
    "NMCNTY": "county_name",
    "LCITY": "city",
    "LSTATE": "state_full",
    "LZIP": "zip_code",
    
    "AM": "american_indian",
    "AS": "asian",
    "BL": "black",
    "HI": "hispanic",
    "WH": "white",
    "HP": "pacific_islander",
    "TR": "two_or_more_races"
})

In [105]:
# I need to get rid of rows that dont have "NA" values int the TOTAL

# seeing how many missing values are in the TOTFRL column

num_missing_total= ps_data["total_students"].isna().sum()

print(f" total number of nan values in the total student column: {num_missing_total}")

pct_missing_total= (ps_data["total_students"].isna().sum() / len(ps_data)) * 100

print(f" percent of nan values in the total_student column: {pct_missing_total: .2f}%")

 total number of nan values in the total student column: 1042
 percent of nan values in the total_student column:  1.13%

#### I will get rid of those NaN rows in "total_students" since there arent that many rows with those missue values and I need an integer in the total_students column for my future analysis

In [106]:
#getting rid of the NaN values in "total_students" column
ps_data= ps_data.dropna(subset= ["total_students"])

In [107]:
#I need to get rid of rows where the total stidents == 0. I dont need that information

zero_total= (ps_data["total_students"] == 0).sum()

print(zero_total)

1497

In [108]:
ps_data=ps_data[ps_data["total_students"] != 0]

ps_data["total_students"].describe()

count    89601.000000
mean       518.561757
std        471.374405
min          1.000000
25%        255.000000
50%        421.000000
75%        636.000000
max      21049.000000
Name: total_students, dtype: float64

In [109]:
high_total= ps_data[ps_data["total_students"]== ps_data["total_students"].max()]

high_total

# I may need to get rid of fully virtual schools. The total student value for this school(the max) is too high and may skew my data

,school_id,district_id,ST_LEAID,district_name,school_name,state,LATCOD,LONCOD,county_name,city,state_full,zip_code,urban_locale,STATUS,free_reduced_lunch,total_students,student_teacher_ratio,charter_status,virtual_status,FTE,school_type,school_level,charter_status,virtual_status,school_status,american_indian,asian,black,hispanic,white,pacific_islander,two_or_more_races
67048,390018004704,3900180,OH-142950,Ohio Virtual Academy,Ohio Virtual Academy,OH,41.587027,-83.684248,Lucas County,Maumee,OH,43537,21-Suburb: Large,1,NaN,21049.0,50.97,Yes,Full Virtual,413.0,Regular school,Other,Yes,Full Virtual,Currently operational,63.0,224.0,3160.0,1603.0,14297.0,15.0,1687.0

In [110]:
# -9 means that the data do not meet NCES data quality standards.

ps_data.describe()

,school_id,district_id,LATCOD,LONCOD,zip_code,STATUS,free_reduced_lunch,total_students,student_teacher_ratio,FTE,american_indian,asian,black,hispanic,white,pacific_islander,two_or_more_races
count,8.960100e+04,8.960100e+04,89601.000000,89601.000000,89601.000000,89601.000000,75068.000000,89601.000000,89132.000000,89601.000000,70119.000000,79492.000000,83749.000000,88351.000000,88247.000000,60287.000000,85596.000000
mean,2.938175e+11,2.938175e+06,37.731886,-92.783465,52836.831832,1.018928,283.358209,518.561757,16.160761,33.482417,6.764857,31.790394,83.659709,150.075902,236.928632,3.080133,24.423314
std,1.656855e+11,1.656855e+06,5.766947,17.302496,29721.891712,0.222353,294.584577,471.374405,64.001335,25.839377,29.768138,90.288846,152.648125,245.203241,274.225781,21.967201,35.378035
min,1.000050e+10,1.000050e+05,13.272449,-176.640331,601.000000,1.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.301500e+11,1.301500e+06,33.921600,-101.187600,28787.000000,1.000000,96.000000,255.000000,12.130000,18.000000,0.000000,1.000000,4.000000,15.000000,47.000000,0.000000,5.000000
50%,3.003870e+11,3.003870e+06,38.514696,-89.474800,51106.000000,1.000000,209.000000,421.000000,14.570000,28.180000,1.000000,6.000000,21.000000,56.000000,172.000000,1.000000,15.000000
75%,4.218990e+11,4.218990e+06,41.573040,-80.430000,78521.000000,1.000000,377.000000,636.000000,17.560000,41.709999,4.000000,24.000000,97.000000,187.000000,331.000000,2.000000,33.000000
max,7.800030e+11,7.800030e+06,71.300337,144.917553,99950.000000,8.000000,10595.000000,21049.000000,17900.000000,683.270020,1308.000000,3517.000000,5360.000000,4461.000000,14297.000000,1301.000000,3538.000000

In [111]:
# adding a column that shows the %

pct_columns = ["black",
    "white",
    "hispanic",
    "american_indian",
    "pacific_islander",
    "two_or_more_races",
    "asian"]

for col in pct_columns:
    if col in ps_data.columns:
        ps_data[col + "_pct"] = (ps_data[col]/ ps_data ["total_students"])* 100

ps_data.head()

,school_id,district_id,ST_LEAID,district_name,school_name,state,LATCOD,LONCOD,county_name,city,state_full,zip_code,urban_locale,STATUS,free_reduced_lunch,total_students,student_teacher_ratio,charter_status,virtual_status,FTE,school_type,school_level,charter_status,virtual_status,school_status,american_indian,asian,black,hispanic,white,pacific_islander,two_or_more_races,black_pct,white_pct,hispanic_pct,american_indian_pct,pacific_islander_pct,two_or_more_races_pct,asian_pct
0,10000500870,100005,AL-101,Albertville City,Albertville Middle School,AL,34.2602,-86.206200,Marshall County,Albertville,AL,35950,32-Town: Distant,1,332.0,908.0,21.62,No,Not Virtual,42.0,Regular school,Middle,No,Not Virtual,Currently operational,2.0,4.0,33.0,469.0,371.0,0.0,29.0,3.634361,40.859031,51.651982,0.220264,0.000000,3.193833,0.440529
1,10000500871,100005,AL-101,Albertville City,Albertville High School,AL,34.2622,-86.204900,Marshall County,Albertville,AL,35950,32-Town: Distant,1,456.0,1606.0,19.59,No,Not Virtual,82.0,Regular school,High,No,Not Virtual,Currently operational,1.0,6.0,70.0,785.0,706.0,0.0,38.0,4.358655,43.960149,48.879203,0.062267,0.000000,2.366127,0.373599
2,10000500879,100005,AL-101,Albertville City,Albertville Intermediate School,AL,34.2733,-86.220100,Marshall County,Albertville,AL,35950,32-Town: Distant,1,330.0,891.0,21.73,No,Not Virtual,41.0,Regular school,Middle,No,Not Virtual,Currently operational,4.0,7.0,24.0,481.0,345.0,1.0,29.0,2.693603,38.720539,53.984287,0.448934,0.112233,3.254770,0.785634
3,10000500889,100005,AL-101,Albertville City,Albertville Elementary School,AL,34.2527,-86.221806,Marshall County,Albertville,AL,35950,32-Town: Distant,1,397.0,908.0,18.53,No,Not Virtual,49.0,Regular school,Elementary,No,Not Virtual,Currently operational,4.0,4.0,48.0,497.0,340.0,0.0,15.0,5.286344,37.444934,54.735683,0.440529,0.000000,1.651982,0.440529
4,10000501616,100005,AL-101,Albertville City,Albertville Kindergarten and PreK,AL,34.2898,-86.193300,Marshall County,Albertville,AL,35951,32-Town: Distant,1,181.0,556.0,18.53,No,Not Virtual,30.0,Regular school,Elementary,No,Not Virtual,Currently operational,4.0,2.0,33.0,288.0,216.0,0.0,13.0,5.935252,38.848921,51.798561,0.719424,0.000000,2.338129,0.359712

I am seeing there is missing data in all colmumns when there is a -1 in free_reduced_lunch-- get rid of those rows

In [118]:
#seeing the placements of all the schools 
ps_data["urban_locale"].value_counts()

urban_locale
21-Suburb: Large       23207
11-City: Large         13429
41-Rural: Fringe       10571
42-Rural: Distant       9165
43-Rural: Remote        5908
13-City: Small          5716
12-City: Mid-size       5317
32-Town: Distant        5268
33-Town: Remote         3527
22-Suburb: Mid-size     3072
31-Town: Fringe         2645
23-Suburb: Small        1776
Name: count, dtype: int64