In [3]:
# Import the libraries
import sqlite3
import csv
import numpy as np
import pandas as pd

### a cursor allows you to go through each row of data one by one.
### it comes in handy when you have to  go through each record in a set like updating and deleting data.

In [4]:
# Create a connection
conn = sqlite3.connect('unemployment.sqlite')

# Create a cursor object to navigate
cur = conn.cursor()

# SQL Basics

## Creating Tables

In [5]:
# Creating a new table called students
# The fields will be name, graduation year, and school

cur.execute(''' 
CREATE TABLE black_feminist(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    birth_year INTEGER,
    birth_place TEXT,
    activism_area TEXT
    )
''')

OperationalError: table black_feminist already exists

In [6]:
# inserting a record into the table

cur.execute('''
INSERT INTO black_feminist (name, birth_year, birth_place, activism_area) VALUES ('Ida B. Wells-Barnett', '1862', 'Holly Springs, Mississippi, USA', 'Anti-lynching')''')

conn.commit()

In [7]:
# Importing mulitple records into the table
# first creating a list of the records I want to add

data = [
    ('Bell Hooks', 1952, 'Hopkinsville, Kentucky, USA', 'Intersectionality'),
    ('Frances Beal', 1940, 'United States', 'Black feminism'),
    ('Alicia Garza', 1981, 'Oakland, California, USA', 'Racial justice'),
    ('Djamila Ribeiro', 1980, 'Santos, São Paulo, Brazil', 'Black feminism'),
    ('Sueli Carneiro', 1950, 'São Paulo, Brazil', 'Anti-racism'),
    ('Amata Giramata', 1996, 'Kigali, Rwanda', 'Feminist activism'),
    ('Amina Mama', 1958, 'United Kingdom', 'Gender studies'),
    ('Altheia Jones-Lecointe', 1945, 'Trinidad', 'Black power'),
    ('Kath Locke', 1928, 'Blackpool, England', 'Education reform')
]

# Adding the data as new records.
cur.executemany('''
INSERT INTO black_feminist (name, birth_year, birth_place, activism_area) 
VALUES (?, ?, ?, ?)''', data)

# Committing the changes to the database
conn.commit()

In [8]:
cur.execute('''
SELECT *
FROM black_feminist''')

cur.fetchall()

[(1,
  'Ida B. Wells-Barnett',
  1862,
  'Holly Springs, Mississippi, USA',
  'Anti-lynching'),
 (2, 'Bell Hooks', 1952, 'Hopkinsville, Kentucky, USA', 'Intersectionality'),
 (3, 'Frances Beal', 1940, 'United States', 'Black feminism'),
 (4, 'Alicia Garza', 1981, 'Oakland, California, USA', 'Racial justice'),
 (5, 'Djamila Ribeiro', 1980, 'Santos, São Paulo, Brazil', 'Black feminism'),
 (6, 'Sueli Carneiro', 1950, 'São Paulo, Brazil', 'Anti-racism'),
 (7, 'Amata Giramata', 1996, 'Kigali, Rwanda', 'Feminist activism'),
 (8, 'Amina Mama', 1958, 'United Kingdom', 'Gender studies'),
 (9, 'Altheia Jones-Lecointe', 1945, 'Trinidad', 'Black power'),
 (10, 'Kath Locke', 1928, 'Blackpool, England', 'Education reform'),
 (11,
  'Ida B. Wells-Barnett',
  1862,
  'Holly Springs, Mississippi, USA',
  'Anti-lynching'),
 (12, 'Bell Hooks', 1952, 'Hopkinsville, Kentucky, USA', 'Intersectionality'),
 (13, 'Frances Beal', 1940, 'United States', 'Black feminism'),
 (14, 'Alicia Garza', 1981, 'Oakland, California, USA', 'Racial justice'),
 (15, 'Djamila Ribeiro', 1980, 'Santos, São Paulo, Brazil', 'Black feminism'),
 (16, 'Sueli Carneiro', 1950, 'São Paulo, Brazil', 'Anti-racism'),
 (17, 'Amata Giramata', 1996, 'Kigali, Rwanda', 'Feminist activism'),
 (18, 'Amina Mama', 1958, 'United Kingdom', 'Gender studies'),
 (19, 'Altheia Jones-Lecointe', 1945, 'Trinidad', 'Black power'),
 (20, 'Kath Locke', 1928, 'Blackpool, England', 'Education reform'),
 (21,
  'Ida B. Wells-Barnett',
  1862,
  'Holly Springs, Mississippi, USA',
  'Anti-lynching'),
 (22, 'Bell Hooks', 1952, 'Hopkinsville, Kentucky, USA', 'Intersectionality'),
 (23, 'Frances Beal', 1940, 'United States', 'Black feminism'),
 (24, 'Alicia Garza', 1981, 'Oakland, California, USA', 'Racial justice'),
 (25, 'Djamila Ribeiro', 1980, 'Santos, São Paulo, Brazil', 'Black feminism'),
 (26, 'Sueli Carneiro', 1950, 'São Paulo, Brazil', 'Anti-racism'),
 (27, 'Amata Giramata', 1996, 'Kigali, Rwanda', 'Feminist activism'),
 (28, 'Amina Mama', 1958, 'United Kingdom', 'Gender studies'),
 (29, 'Altheia Jones-Lecointe', 1945, 'Trinidad', 'Black power'),
 (30, 'Kath Locke', 1928, 'Blackpool, England', 'Education reform')]

In [10]:
cur.execute('''
SELECT *
FROM black_feminist
WHERE birth_year < 1950 
             ''')

cur.fetchall()

[(1,
  'Ida B. Wells-Barnett',
  1862,
  'Holly Springs, Mississippi, USA',
  'Anti-lynching'),
 (3, 'Frances Beal', 1940, 'United States', 'Black feminism'),
 (9, 'Altheia Jones-Lecointe', 1945, 'Trinidad', 'Black power'),
 (10, 'Kath Locke', 1928, 'Blackpool, England', 'Education reform'),
 (11,
  'Ida B. Wells-Barnett',
  1862,
  'Holly Springs, Mississippi, USA',
  'Anti-lynching'),
 (13, 'Frances Beal', 1940, 'United States', 'Black feminism'),
 (19, 'Altheia Jones-Lecointe', 1945, 'Trinidad', 'Black power'),
 (20, 'Kath Locke', 1928, 'Blackpool, England', 'Education reform')]

In [9]:
cur.execute('''
SELECT *
FROM black_feminist
WHERE birth_year BETWEEN 1890 AND 1960
             ''')

cur.fetchall()

[(2, 'Bell Hooks', 1952, 'Hopkinsville, Kentucky, USA', 'Intersectionality'),
 (3, 'Frances Beal', 1940, 'United States', 'Black feminism'),
 (6, 'Sueli Carneiro', 1950, 'São Paulo, Brazil', 'Anti-racism'),
 (8, 'Amina Mama', 1958, 'United Kingdom', 'Gender studies'),
 (9, 'Altheia Jones-Lecointe', 1945, 'Trinidad', 'Black power'),
 (10, 'Kath Locke', 1928, 'Blackpool, England', 'Education reform'),
 (12, 'Bell Hooks', 1952, 'Hopkinsville, Kentucky, USA', 'Intersectionality'),
 (13, 'Frances Beal', 1940, 'United States', 'Black feminism'),
 (16, 'Sueli Carneiro', 1950, 'São Paulo, Brazil', 'Anti-racism'),
 (18, 'Amina Mama', 1958, 'United Kingdom', 'Gender studies'),
 (19, 'Altheia Jones-Lecointe', 1945, 'Trinidad', 'Black power'),
 (20, 'Kath Locke', 1928, 'Blackpool, England', 'Education reform'),
 (22, 'Bell Hooks', 1952, 'Hopkinsville, Kentucky, USA', 'Intersectionality'),
 (23, 'Frances Beal', 1940, 'United States', 'Black feminism'),
 (26, 'Sueli Carneiro', 1950, 'São Paulo, Brazil', 'Anti-racism'),
 (28, 'Amina Mama', 1958, 'United Kingdom', 'Gender studies'),
 (29, 'Altheia Jones-Lecointe', 1945, 'Trinidad', 'Black power'),
 (30, 'Kath Locke', 1928, 'Blackpool, England', 'Education reform')]

In [11]:
# Deleting the actual values from the ID Number
cur.execute('''
DELETE 
FROM black_feminist WHERE birth_year< 1929;
''')

cur.execute('''
SELECT *
FROM black_feminist;
''')
# Let's pass the result to a Pandas DataFrame
blackfeminist = pd.DataFrame(cur.fetchall())
blackfeminist.head()

   0                1     2                            3                  4
0  2       Bell Hooks  1952  Hopkinsville, Kentucky, USA  Intersectionality
1  3     Frances Beal  1940                United States     Black feminism
2  4     Alicia Garza  1981     Oakland, California, USA     Racial justice
3  5  Djamila Ribeiro  1980    Santos, São Paulo, Brazil     Black feminism
4  6   Sueli Carneiro  1950            São Paulo, Brazil        Anti-racism